<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    <div class="container">
        {{ content }}
    </div>

    <div class="container">
        <table class="table table-hover" style="width: 100%">
            <thead>
                <tr>
                  <th>Links to Documentation</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="softwareinstall.html" class="btn btn-info" role="button">Setting up for CollectionBuilder</a></td>
                  <td><b>Begin here.</b> Follow these software installation procedures to ensure files are consistent and function on the MBMG website.</td>
                </tr>
                <tr>
                  <td><a href="mbmgmodifications.html" class="btn btn-info" role="button">Building a Collection</a></td>
                  <td>The basic CollectionBuilder docs will help get started and familiar with CollectionBuilder, but these docs here will walk through the specific changes to files necessary for the MBMG collection standard to keep consistency and functionality.</td>
                </tr>
                <tr>
                  <td><a href="https://collectionbuilder.github.io/cb-docs/docs/customization/" class="btn btn-info" role="button">Site Customization</a></td>
                  <td>This external link leads to CollectionBuilder instructions for modifying theme colors, modifying tabs on the navigation bar, and organizing data display locations.  Follow any instructions specific for Stand Alone users, and ignore all GitHub specific instructions.</td>
                </tr>
                <tr>
                  <td><a href="https://collectionbuilder.github.io/cb-docs/docs/pages/" class="btn btn-info" role="button">Customizing Home and About Pages</a></td>
                  <td>You can customize the content and appearance of both the Home and About pages.  If there is no relevant data, some items, like a timeline, should be changed. The About page may contain greater details about a collection, a map key, and/or any other pertinent collection information.  </td>
                </tr>
                <tr>
                  <td><a href="metadatatext.html" class="btn btn-info" role="button">Metadata Modifications Shortcuts</a></td>
                  <td>MBMG collection metadata has many text capitalization issues that prevent communication with the website. This section provides shortcuts to change all caps entries to proper capitalization display using both Visual Studio Code and Microsoft Excel. Capitalization issues in the code itself can be easily tweaked.</td>
                </tr>
                <tr>
                  <td><a href="deploy.html" class="btn btn-info" role="button">Deploying Collection Site</a></td>
                  <td>CollectionBuilder's tutorials teaches how and where to move files and how to deploy the finished website. The procedure to deploy the MBMG Data Preservation websites is identical. The deployed files always can be edited.</td>
                </tr>
                <tr>
                  <td><a href="https://collectionbuilder.github.io/" class="btn btn-secondary" role="button">CollectionBuilder Docs</a></td>
                  <td>This external link leads to the CollectionBuilder website. You can learn more about the different templates and access a step-by-step guide from installing CollectionBuilder site deployment. The 'Get Started' button on their navigation bar will begin the tutorial.</td>
                </tr>
              </tbody>
            </table>
    </div>

    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>
