<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}

</style>
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    <div class="container">
        {{ content }}
    </div>

    <span id="menubutton" class ="sticky-top pt-3" style="font-size:30px;cursor:pointer" onclick="openNav(); hidemenu()"><i class="material-icons" style="font-size:48px;color:black">menu</i></span>

    <div id="mySidenav" class="sidenav">
      <span id="menubutton" style="font-size:30px;cursor:pointer" onclick="closeNav(); showmenu()"><i class="material-icons" style="font-size:48px;color:white">close</i></span>
      
        <h2 class="text-white">Procedures</h2>
        <a href="/collections.html">Collections</a>
        <a href="/assessment.html">Assessment</a>
        <button class="dropdown-btn">Preservation 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a href="/scanning.html">Scanning</a>
            <a href="/metadata.html">Metadata</a>
          </div>
        <a href="/labels.html">Labels</a>
        <a href="/students.html">Students</a>
        <a href="/forms.html">Forms</a>
      </div>

  <div id="main">
    <h1 class="text-center">Collections</h1><hr><br>
          <div class="container">
            <p>The MBMG’s Archives and Data Preservation program maintains both physical and digital information repositories. The original repository contained property files, maps, and selected publications. Previous MBMG staff organized property files and maps by Montana county, historical mining district, and property name. Publication order was by organization or author. Staff did not know or adhere to the archival principles to keep all documents together from one creator (fonds) and provenance maintained all records according to their origin and not intermingle them with those of another provenance.<br><br>
            More recently, MBMG staff inventory, describe, and record donated collections in Microsoft Access relational databases by the creator (or collection donor). Staff create an Access relationship between each collection record to associated records in other database tables. For example, a map contained in a collection may have several claims noted on it. Staff creates a database relationship between the map’s unique identification number and that of each claim annotated on the map to its associate record in the Claims database.<br><br>
            The value of collection contents changes over time. The emergence of new technologies supplants the need for physical copies of certain data. Periodic collection reviews determine the ongoing value and public use of the collection.
            </p><br>
        </div><hr>

        <div class="container">
          <h3>Mine-related Property Files</h3>
              <p>Properties may represent a single mining claim, a group of claims, a reconnaissance/exploration project area, or a mine. The physical files’ order in the compact storage is alphabetical by Montana county and subsequently by property name within each county. File labels display the county, the historical mining district location, and the name for each property. File contents vary and may include reports, correspondence, forms, maps, surveys, sketches, photographs, and miscellaneous information. Each Property File is described and recorded in the “dbo_pf_main” table in department’s database.</p>
          <h3>Mine-related Maps</h3>
              <p>Maps are organized alphabetically by Montana county, then by historical mining district (if known), and finally by the mine or property to which the map refers. Flat file folders are created to store five or more maps pertaining to a single property; other maps are stored in either a mining district general folder or a county general folder (if a mining district is not noted for the map). Maps are stored in map file cases located in NRB 217. Each map is described and recorded in the “dbo_mf_main” table in department’s database. </p>
          <h3>Claims</h3>
              <p>Mine-related maps often display the location of many mining claims. Sometimes no record exists in the Mining Archives Property files for all claims represents on a mining map. Because the public may want to search for information on a claim for which there is not associated property file, MBMG staff created a the “dbo_claim_main” table in the department’s database, noting the claim’s name, county, mining district, geolocations (latitude, longitude, township, range, section), and any other names associate with the claim (such as owner, alternate name, etc.).</p>
          <h3>Special Collections</h3>
              <p>Special Collections represent discrete information repositories pertaining to the history, accumulated work, and/or activities of professional geologists or corporate body. They also include comprehensive and extensive documentation of a particular property’s development, operation, closure, and/or reclamation.<br><br>
            Information contained within a special collection may pertain to other collections housed by the MBMG Data Preservation Program (e.g., Property Files). Each Special Collection is recorded in a department database.</p>
          <h3>Mineral Specimens</h3>
              <p>Mineral Specimens originate from specific mines or properties or are collected by professional geologists during their careers. Mineral Specimens include ore body samples, hand samples, rock samples, fine specimens, thin sections, polished sections, and drill core. Specimens or samples may be part of a Special Collection or a separate, discrete collection.</p>
          <h3>Field Notes</h3>
              <p>Field notes compiled by geologists during the conduct of research-related projects are stored in archival boxes and ordered by geologist’s last name or by project. Each Field Notebook’s title, data, project, and geologist’s name are recorded in the department’s Historic Collections database. </p>
          <h3>Seismograms</h3>
              <p>Seismograms depicting Montana-related earthquake activity are located in the basement of the MBMG Mineral Museum (also known as the “stacks”). The Seismograms are ordered by seismogram station followed by chronological record date.  Seismograms are described and recorded in the department’s Historic Collections database.</p>
          <h3>Photographs</h3>
              <p>Photographs exist for various historical mining properties, abandoned mines, mining equipment, core samples, and specimens.</p>
          <h3>Core Samples</h3>
              <p>Rock cores are cylindrical sections of rock brought to the surface for study, providing a near contiguous record of rock. Geologists study the various physical and chemical features to learn about the composition of the underlying geological formations.</p>
          <h3>The Anaconda Collection</h3>
              <p>The Anaconda Collection contains more than 80,000 specimens, including many polished slabs and over 10,000 thin sections collected from around the world, compiled by the Anaconda Copper Mining Company from 1940 through 1981, when the company ceased operation. Samples include a significant number from Butte underground mines and a large number collected from other districts worldwide visited by Anaconda Company geologists. Sample locations are plotted on min-level maps (scale 1-inch equal to 400 feet) at 100-foot intervals from the surface to the 4600 level.<br><br>
              The Butte underground mines are now flooded. The Anaconda Collection represents a unique documentary of inaccessible Geology. Researchers may request the loan of specific specimens for research purposes. The MBMG Economic Geologist or Director administers all specimen load requests. Please see the Anaconda Collection – Specimen Loan Procedure.<br><br>
              Anaconda Collection specimens are described and recorded in the department’s Historic Collections database.</p>
          <h3>Aerial Photographs</h3>
              <p>Aerial photographs of Montana are organized by 1° x 2° Montana quadrangle map or by Montana county and then by aerial photo flight line. The existing collection contains photos of land located in areas of expected urban development, historical seismic activity, subsidence, or are geologically unique. Photographs are recorded in the Historic Collections database. An update of the database reflecting recent disposal of non-essential photos is necessary.</p>
          <h3>Publications</h3>
              <p>The Mining Archives department maintains a repository of research-related US Bureau of Mines and the US Geological Survey, masters’ and doctoral theses, and seminal geologic publications accessible to MBMG researchers and the public. The publications’ organization is by publication type and publication number. USGS publications are stored in both NRB 217 and NRB 209. Publications and descriptions are recorded in the Historic Collections database. Web-available versions of USGS publications are increasing, and the retention utility of hard copies is diminishing. A retention review of the USGS publications is recommended.</p>
        </div>

      </div>

      <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
        }

        function hidemenu() {
        document.getElementById("menubutton").style.visibility = "hidden";
        }

        function showmenu() {
        document.getElementById("menubutton").style.visibility = "visible"; 
        }

        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
        } else {
        dropdownContent.style.display = "block";
        }
        });
        }
        </script>


    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
    </body>
    </html>