<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    <div class="container">
        {{ content }}
    </div>
    
    <main id="maincontent" role="main" class="flex-shrink-0">
        <div class="container">
        <div class="card mb-9">
            <h2 style="text-align:center">Follow links below for document procedures.</h2>
                <a class="btn btn-secondary btn-lg btn-block" href="#stylesheet" role="button">Style Sheet</a>    
                <a class="btn btn-secondary btn-lg btn-block" href="#filenaming" role="button">File Naming Instructions</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#restoration" role="button">Document Restoration</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#cleaning" role="button">Document Cleaning</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#pdfa" role="button">PDF/A Instructions</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#printpdf" role="button">Print PDF Without Custom Sizes</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#installcleaner" role="button">Install Document Cleaner 2.0</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#pdftojpg" role="button">How to Batch Convert PDF to JPG</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#tifftojpg" role="button">How to Batch Convert TIFF to JPG</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#batchedits" role="button">How to Conduct Batch Edits with Macros</a>
        </div><hr><br>
        
        <div class="container">
            <h2 id="stylesheet">Style Sheet</h2>
        <iframe src="objects/Style Sheet.pdf" width="100%" height="1000px"></iframe>
        </div><hr><br>
        
        <div class="container">
            <h2 id="filenaming">File Naming Instructions</h2>
        <iframe src="objects/File Naming Instructions.pdf" width="100%" height="1000px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="restoration">Document Restoration</h2>
        <iframe src="objects/Document_Restoration.pdf" width="100%" height="800px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="cleaning">Document Cleaning</h2>
        <iframe src="objects/Document Cleaning.pdf" width="100%" height="1000px"></iframe>
        <br><br>
        <a class="btn btn-info btn-lg btn-block" href="filecleaning.html" role="button">Cleaning Documents in Photoshop</a>
        </div><hr><br>
        
        <div class="container">
            <h2 id="pdfa">PDF/A Instructions</h2>
        <iframe src="objects/PDFA Guide.pdf" width="100%" height="1000px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="printpdf">Printing as PDF</h2>
        <iframe src="objects/Print PDF Without Custom Sizes.pdf" width="100%" height="800px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="installcleaner">Install Document Cleaner 2.0</h2>
            <ol>
                <li><a href="{{ '/objects/Document Cleaner 2.0.atn' | absolute_url }}" class="btn btn-info btn-lg btn-block" target="_blank">Download Document Cleaner 2.0</a></li>
                <br>
                <li>Click on downloaded file.
        </div><hr><br>

        <div class="container">
            <h2 id="pdftojpg">How to Batch Convert Files to JPG in Photoshop</h2>
            <div class="alert alert-danger" role="alert">
                If you haven't already installed <a href="https://collectionbuilder.github.io/docs/documentprocedures.html#installcleaner">Document Cleaner 2.0</a>, please do so before proceeding beyond this point.
            </div>
            <ol>
                <li>Open the files you want to convert in Photoshop. Right-click on the file(s) you want to convert, and open with Photoshop.
                    <img class="rounded mx-auto d-block" src="{{ '/objects/open in photoshop.jpg' | absolute_url }}"></li><br>
                <li><b>*This step for opening PDF files only*</b> Hold down the <code>Shift</code> key and select the last page. This will select all of the pages.
                    <img class="rounded mx-auto d-block" src="{{ '/objects/importpdf.jpg' | absolute_url }}"></li><br>
                <li>Go to File>Automate>Batch.
                    <img class="rounded mx-auto d-block" src="{{ '/objects/pdf-batch_3.jpg' | absolute_url }}"></li><br>
                
                <li>Fill out the form as indicated in the image below:</li>
                <img class="rounded mx-auto d-block" src="{{ '/objects/batch_saveasjpg.png' | absolute_url }}"><br>
                    <ol>
                        <li>Set: Select Document Cleaner 2.0 from dropdown</li>
                        <li>Action: Select Save as JPEG from dropdown</li>
                        <li>Source: Select Opened files from dropdown</li>
                        <li>Destination: Select 'Folder' from dropdown and select the folder destination by selecting 'Choose'.</li>
                        <li>File naming: use the <a href="https://collectionbuilder.github.io/docs/documentprocedures.html#filenaming">file naming conventions</a> to name your file.</li>
                        <li>Make sure that at the end of your file name that you have <code>Page_</code> typed with no number following the underscore. The settings beneath the file name will auto fill in the page numbers and add the file extension at the end.</li>
                    </ol><br>
                
                <li>Select ‘OK’ and let Photoshop do all of the work for you!</li>
            </ol>
        </div><hr><br>

        <div class="container">
            <h2 id="batchedits">How to Create Macros and Conduct Batch Edits in Photoshop</h2>
            <div class="alert alert-danger" role="alert">
                If you haven't already installed <a href="https://collectionbuilder.github.io/docs/documentprocedures.html#installcleaner">Document Cleaner 2.0</a>, please do so before proceeding beyond this point.
            </div>
            <ol>
                <li>Go to Windows>Actions.
                    <img class="rounded mx-auto d-block" src="{{ '/objects/pdf-batch_1.jpg' | absolute_url }}"></li><br>

                <li> Select the new action icon in the little actions window</li>
                <img class="rounded mx-auto d-block" src="{{ '/objects/createmacros1.jpg' | absolute_url }}"></li><br>
                
                <li>Name your action something simple that describes your action and then press "Record."
                    <img class="rounded mx-auto d-block" src="{{ '/objects/createmacros2.jpg' | absolute_url }}"></li><br>
                    <ul>
                        <li>Open a file in Photoshop to which you want to do a batch edit. Keep in mind that it has to be done perfectly when recording; no undoing is allowed.</li>
                    </ul><br>
                <li>Once finished conducting all of the edits manually, press the square button in the Action Window to stop recording.
                    <img class="rounded mx-auto d-block" src="{{ '/objects/createmacros4.jpg' | absolute_url }}">
                </li>
                <li>Go to File>Automate>Batch.
                    <img class="rounded mx-auto d-block" src="{{ '/objects/pdf-batch_3.jpg' | absolute_url }}"></li><br>
                
                <li>Fill out the following form as necessary.</li>
                    <ul>
                        <li>Select the correct Action, or the action you just created.</li>
                        <li>Source: You may choose to have the macro apply to files you have opened or entire files an specific folder. Your choice.</li>
                        <li>Destination: You may choose "Save and Close," which will save and close the file in the same location in which it was opened. Or you may choose "Folder" to specify a different folder to save all the edited pages.</li>
                        <li>File Naming: You may be able to auto-name your files as long as a single file name can apply to all of the files to go through the macro. Be sure to add a serial number if that is the case.</li>
                        <li>Make any other settings that you may find applicable to your files.</li>
                    </ul>
                <li>Select OK and let Photoshop do the work for you!</li>
        </div><hr><br>
    </main>
{% include footer.html %}
{% include foot.html %}
{% include scroll-to-top.html %}
</body>
</html>
