<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    <div class="container">
        {{ content }}
    </div>
    
    <main id="maincontent" role="main" class="flex-shrink-0">
        <div class="container">
        <div class="card mb-9">
            <h2 style="text-align:center">Follow links below for document procedures.</h2>    
                <a class="btn btn-secondary btn-lg btn-block" href="#fileaccess" role="button">File Access for MBMG and General Public</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#cleaning" role="button">Document Cleaning</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#printpdf" role="button">Print PDF Without Custom Sizes (Oversized Maps)</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#installcleaner" role="button">Install Document Cleaner 2.0</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#tojpg" role="button">How to Batch Convert Files to JPG in Photoshop</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#tojpf" role="button">How to Batch Convert Files to JPF in Photoshop</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#batchedits" role="button">How to Conduct Batch Edits with Macros</a>
        </div><hr><br>
        
        <div class="container">
            <h2 id="fileaccess">File Access for MBMG and General Public</h2>
        <iframe src="objects/Data Preservation Check Out Procedures.pdf" width="100%" height="800px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="cleaning">Basic Document Cleaning</h2>
        <ol>
            <li>Take an “out guide” and a pen to the shelves and find a file which has either no status markings or only a black mark. Do not pull the file completely out. Pull the file out only far enough to complete the information needed to fill in the “out guide.” Slide the “out guide” in beside the file, then pull out the file.</li>
                <div class="alert alert-info" role="alert">
                <p class="font-italic">The lines on the end of each folder represent the level of completed work for each folder’s contents.<br>
                    Black=catalogued<br>
                    Blue=scanned<br>
                    Red=cleaned<br>
                    Green=quality assurance completed<br>
                    Purple=uploaded and available on MBMG website</p>
                </div>
            <li>In the <code>\\mbmgs1a\mining archives$\Working Folder\Current Work</code> check if the folder has already been scanned. If it has been scanned, its name should contain the name of the student assigned to it.</li> 
                <div class="alert alert-warning mx" role="alert">
                    <p class="font-italic">Full time staff will organize and rename the folders, adding the name of the student to whom it has been assigned.</p> 
                </div>
            <li>Before scanning a folder, go through each of the contents to prepare the documents for scanning and to know what to watch for while scanning. See guidelines below:</li>
            
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Paper-clipped together</td>
                        <td>Remove all paperclips; after scanning, re-clip the document set with an archival, stainless-steel paperclip.</td>
                    </tr>
                    <tr>
                        <td>Stapled together</td>
                        <td>Remove all staples using the metal micro-spatula (located in the supply drawer behind the work counter).  With the spatula, carefully bend the ends of the staple up to a vertical position, then slide the spatula under the staple and gently pull it out of the document.  After scanning, paper clip the document set together with an archival stainless-steel paper clip.</td>
                    </tr>
                    <tr>
                        <td>Glued</td>
                        <td>Gently try to pull glued pages apart; please see a Staff Member for assistance or direction if the pages do not easily separate.</td>
                    </tr>
                    <tr>
                        <td>Bound</td>
                        <td>Remove the document binding if possible; please see a Staff Member for assistance or direction if the pages do not easily separate.</td>
                    </tr>
                    <tr>
                        <td>Printed on both sides of the paper</td>
                        <td>If the document can go through the document feeder, and it is two sided, you will need to change the settings to scan both sides.  
                            If it cannot go through the document feeder, you do not need to change the settings.  Please be sure to scan both sides manually.</td>
                    </tr>
                    <tr>
                        <td>Folded in half, third, or with other documents inside</td>
                        <td>Open and separate each folded document to select proper scanner page size setting. Change the page size setting from the default (letter) to the appropriate page size; An incorrect setting will result in data loss on your scan.You can also scan all pages at the ledger setting, but you will need to correctly crop pages as needed to reflect the correct size. For odd-sized scans, use a larger setting to ensure that the scan contains all document data.</td>
                    </tr>
                    <tr>
                        <td>Multiple sized pages in a document</td>
                        <td>Open and separate each folded document to select proper scanner page size setting. Change the page size setting from the default (letter) to the appropriate page size; An incorrect setting will result in data loss on your scan.You can also scan all pages at the ledger setting, but you will need to correctly crop pages as needed to reflect the correct size. For odd-sized scans, use a larger setting to ensure that the scan contains all document data.</td>
                    </tr>
                    <tr>
                        <td>Onion skin paper</td>
                        <td>The tissue-like paper will tear in the document feeder. They need to be placed flat on the scanning glass.</td>
                    </tr>
                    <tr>
                        <td>Faint Printing</td>
                        <td>Adjust density setting adjustment and retain the same setting for multiple page documents.</td>
                    </tr>
                    <tr>
                        <td>Print visible from opposite side</td>
                        <td>Use Prevent Bleed Through for each page of affected documents.</td>
                    </tr>
                </thead>
            </table>
            
            <li>Scan all pages of each document or group of documents. Press "Finish Scan" on the Kyocera scanner to save each group as individual pdf/a scans. The pdf/a scans will be sent to the "Scans" folder.
                <div class="alert alert-primary" role="alert">
                    <p class="font-italic">Click <a href="studentprocedures.html#kyocera"><b>here</b></a> for detailed instructions about operating the Kyocera scanner.</p>
                </div>
            </li>

            <li><b>After scanning:</b> Open the new scan in the "Scans" folder to ensure that all pages were captured correctly. If there are any errors, please rescan the pages. When a scan is complete, create a folder with a simple name indicating the name of the physical folder in "Working Folder>Current Work".</li>
                <ul>
                    <li>If you are scanning a folder labeled "Iron Mask" and it is from Broadwater County, for example, please label the folder as <code>Broadwater_Iron_Mask</code>.</li>
                    <li>If you are scanning documents from a special collection, please ask a full-time staff member for directions for the names of the scans and folder.</li>
                </ul>

                <div class="alert alert-warning" role="alert">
                    <p class="font-italic">Full-time staff will organize and name scanned objects according to established <a href="#filenaming"><b>naming conventions</b></a>.</p>
                </div>

            <li>Copy the pdf/a scan into the newly created folder. Delete the scan from the "Scans" folder after ensuring the copy was successful.</li>
            
            <div class="alert alert-info" role="alert">
                <p class="font-italic">Note: Each folder will contain three sub-folders, and each folder’s contents will be different file formats.<br>
                Originals: PDF/A and JPG (TIFFs on occasion)<br>
                JPGs: JPF (JPG2000)<br>
                PDFs: PDF/A</p>
            </div>

            <li>In the "Originals" folder, each document should be in a PDF/A and JPG file. Use photoshoshop to convert <a href="#pdfa"><b>JPGs to PDF/As</b></a> and <a href="#tojpg"><b>PDF/As to JPGs</b></a>. TIFFs will remain as TIFFs in the Originals folder.</li><br>

            <li>Copy the JPGs from the Originals folder and paste them into the Jpgs folder. The JPGs should not be edited in the Originals folder. Once edits for the JPGs are finished, <a href="tojpf"><b>convert all JPGs to JPFs.</b></a></li><br>


            <li><b>Optimizing Scans:</b> The goal is to ensure the documents are straight and legible.
                <div class="alert alert-info" role="alert">
                    <p class="font-italic">Click <a href="filecleaning.html"><b>here</b></a> for more detailed tutorials about Photoshop tools.</p>
                </div>

                Reference the physical folder as needed when you are optimizing the digital files. When you are not working on that folder, please keep it in you box under the work counter.<br>
                Clean, straighten, resize pages according to procedures and any other guidance you receive. If you have questions, please ask.
                <ul>
                    <li><b>Straightening:</b> Documents should be straightened as much as possible. For documents that contain several other document images on them (Mine Status Card, for example), each " sub-image" should be straightened so that all of them are straightened on the page.</li>
                    <li><b>Rebuilding Text:</b> As needed, use the clone tool or copy via layer as much as feasible to repair missing or illegible text. Try to use a brush size and fuzziness setting that matches the original text as much as possible.  If the document is a publication from other agencies, like the USGS, it might be more efficient to download the digitized version from their website.<br>
                    If the sides of documents were "cut off" in the original that we have in our file, attempt to recreate the missing text using the clone tool. Ask a full-time staff member for assistance in determining the wording of the missing text.</li>
                    <li><b>Backgrounds:</b> Backgrounds seldom need to be replaced, but if you think it would be useful to do so, please consult with a full-time staff member.<br>
                    You can use an existing background from the Backgrounds folder in the Working folder, or you can create a background layer using the clone tool or other appropriate technique.<br>
                    Most backgrounds have a texture in them, so using one solid color as a background (unless the original background was pure white) is not an optimal solution.</li>
                    <li><b>Consistency: </b>If you use image settings on the first page of a multiple page document (e.g. Image, Adjustments, Levels or Exposure, Brightness, Contrast, etc.), write those settings down and apply them to each successive page to maintain a consistent look throughout the entire document.</li>
                    <li><b>Layers: </b>Remember to flatten your layers before saving your work</li>
                    <li><b>Page Size: </b>If the original document is smaller than the standard letter size, crop the image to its original size.  When you have completed optimizing the image, go to Canvas Size and change the size to 8.5 x 11.  Whenever possible, please use the portrait orientation. (8.5 x 11 instead of 11 x 8.5). The anchor setting should be set to the center square (see below).<br>
                    Adjusting the page size should be one of the last tasks you perform. Make sure that you check the canvas page size and adjust as necessary. If the pages you are working on are an unusual size, see a full-time staff member for direction.  
                    <img class="rounded mx-auto d-block" src="{{ '/objects/canvas_size.png' | absolute_url }}"><br></li>
                    <li>Finally, save the document in the JPF format. All the default settings for saving as a JPF will work, EXCEPT make sure that the 'Lossless' box is checked.</li>
                </ul>
            </li><br>

            <li><b>Quality Assurance Review: </b>Place a post-it note with your name on the physical file to identify whose work we are reviewing, and give physical file to the appropriate person.  Full time staff will review the digital file and reference the physical file as needed.<br>
            If the file is returned to you with notes for improvements, when you return the file, please keep all notes with the file.
            
            <div class="alert alert-warning" role="alert">
                <p class="font-italic">Full-time staff will update the markings on the folder to reflect completed stages of work on that folder. Staff will also <a href="staffresources.html/pdfa"><b>convert and put PDF/A files</b></a> into the PDFs folder.
            </div></li>

            <li>Each day, record your hours and work in your Timekeeping and Work Log.</li>
            <div class="alert alert-info" role="alert">
                <p class="font-italic">Each student has an Excel spreadsheet to record their work. Accurately signing in and out on the left side of the sheet calculates your daily worked hours and assists in completing Montana Tech time cards.<br> In the Work Log portion, please record the work you completed. If you are working on the county property files, please record both the county and the property names. If you are working on a grant funded project, please record that and note the amount of hours in the far right column.<br> Please use the quarter system when filling in hours on your timecards. For more information on this, please refer to the <a href="studentprocedures.html/handbook"><b>Student Handbook</b></a>.
            </div>
        </ol>
        <br><br>
        
        <p><b>For additional help with cleaning the documents in photoshop, please access the link below:</b></p>
        <a class="btn btn-info btn-lg btn-block" href="filecleaning.html" role="button">Cleaning Documents in Photoshop</a>
        </div><hr><br>

        <div class="container">
            <h2 id="printpdf">Printing as PDF</h2>
        <iframe src="objects/Print PDF Without Custom Sizes.pdf" width="100%" height="800px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="installcleaner">Install Document Cleaner 2.0</h2>
            <ol>
                <li><a href="{{ '/objects/Document Cleaner 2.0.atn' | absolute_url }}" class="btn btn-info btn-lg btn-block" target="_blank">Download Document Cleaner 2.0</a></li>
                <br>
                <li>Click on downloaded file.
        </div><hr><br>

        <div class="container">
            <h2 id="tojpg">How to Batch Convert Files to JPG in Photoshop</h2>
            <div class="alert alert-danger" role="alert">
                <p class="font-italic">If you haven't already installed<a href="{{ '/objects/Document Cleaner 2.0.atn' | absolute_url }}" class="btn btn-link" target="_blank">Document Cleaner 2.0</a>, please do so before proceeding beyond this point.</p>
            </div>
            <ol>
                <li>Open the files you want to convert in Photoshop. Right-click on the file(s) you want to convert, and open with Photoshop.
                    <img class="rounded mx-auto d-block" src="{{ '/objects/open in photoshop.jpg' | absolute_url }}"></li><br>

                <li><b>*For opening PDF files only*</b> Click the first page and hold the <code>Shift</code> key and select the last page. This will select all of the pages.
                    <img class="rounded mx-auto d-block" src="{{ '/objects/importpdf.jpg' | absolute_url }}"></li><br>
                    
                <li>Go to File>Automate>Batch.
                    <img class="rounded mx-auto d-block" src="{{ '/objects/pdf-batch_3.jpg' | absolute_url }}"></li><br>
                
                <li>Fill out the form as indicated in the image below:</li>
                <img class="rounded mx-auto d-block" src="{{ '/objects/batch_saveasjpg.png' | absolute_url }}"><br>
                    <ol>
                        <li>Set: Select Document Cleaner 2.0 from dropdown</li>
                        <li>Action: Select Save as JPEG from dropdown</li>
                        <li>Source: Select Opened files from dropdown</li>
                        <li>Destination: Select 'Folder' from dropdown and select the folder destination by selecting 'Choose'.</li>
                        <li>File naming: use the <a href="studentprocedures.html#filenaming">file naming conventions</a> to name your file.</li>
                        <li><b>*This applies to batch converting PDF documents with more than one page*</b> Make sure that at the end of your file name that you have <code>Page_</code> typed with no number following the underscore. The settings beneath the file name will auto fill in the page numbers and add the file extension at the end.<br>
                        <b>*If you have files that are not grouped pdf files*</b> Fill out the form as indicated in the image below:
                        <img class="rounded mx-auto d-block" src="{{ '/objects/jpgnaming.jpg' | absolute_url }}"><br>
                        Same steps as the previous image, only the 'File Naming' section is different with only 'Document Name' selected from the dropdown.</li>
                    </ol><br>
                
                <li>Select ‘OK’ and let Photoshop do all of the work for you!</li>
            </ol>
        </div><hr><br>

        <div class="container">
            <h2 id="tojpf">How to Batch Convert Files to JPF in Photoshop</h2>
            <div class="alert alert-danger" role="alert">
                <p class="font-italic">If you haven't already installed <a href="#installcleaner">Document Cleaner 2.0</a>, please do so before proceeding beyond this point.</p>
            </div>
            <ol>
                <li>Open the files you want to convert in Photoshop. Right-click on the file(s) you want to convert, and open with Photoshop.
                    <img class="rounded mx-auto d-block" src="{{ '/objects/open in photoshop.jpg' | absolute_url }}"></li><br>
                <li>Go to File>Automate>Batch.
                    <img class="rounded mx-auto d-block" src="{{ '/objects/pdf-batch_3.jpg' | absolute_url }}"></li><br>
                
                <li>Fill out the form as indicated in the image below:</li>
                <img class="rounded mx-auto d-block" src="{{ '/objects/convertjpf.jpg' | absolute_url }}"><br>
                    <ol>
                        <li>Set: Select Document Cleaner 2.0 from dropdown</li>
                        <li>Action: Select Save as JPF from dropdown</li>
                        <li>Source: Select Opened files from dropdown</li>
                        <li>Destination: Select 'Folder' from dropdown and select the folder destination by selecting 'Choose'.</li>
                        <li>File naming: use the <a href="studentprocedures.html#filenaming">file naming conventions</a> to name your file.</li>
                        <li><b>*This applies to batch converting PDF documents with more than one page*</b> Make sure that at the end of your file name that you have <code>Page_</code> typed with no number following the underscore. The settings beneath the file name will auto fill in the page numbers and add the file extension at the end.<br>
                            <b>*If you have files that are not grouped pdf files*</b> Fill out the form as indicated in the image below:
                            <img class="rounded mx-auto d-block" src="{{ '/objects/jpgnaming.jpg' | absolute_url }}"><br>
                            Same steps as the previous image, only the 'File Naming' section is different with only 'Document Name' selected from the dropdown.</li>
                        <li>Select 'Ok' and let Photoshop do all of the work for you!</li>
                        </ol>
                    </ol>
            </ol>
        </div><hr><br>

        <div class="container">
            <h2 id="batchedits">How to Create Macros and Conduct Batch Edits in Photoshop</h2>
            <div class="alert alert-danger" role="alert">
                <p class="font-italic">If you haven't already installed <a href="#installcleaner">Document Cleaner 2.0</a>, please do so before proceeding beyond this point.</p>
            </div>
            <ol>
                <li>Go to Windows>Actions.
                    <img class="rounded mx-auto d-block" src="{{ '/objects/pdf-batch_1.jpg' | absolute_url }}"></li><br>

                <li> Select the new action icon in the little actions window</li>
                <img class="rounded mx-auto d-block" src="{{ '/objects/createmacros1.jpg' | absolute_url }}"></li><br>
                
                <li>Name your action something simple that describes your action and then press "Record."
                    <img class="rounded mx-auto d-block" src="{{ '/objects/createmacros2.jpg' | absolute_url }}"></li><br>
                    <ul>
                        <li>Open a file in Photoshop to which you want to do a batch edit. Keep in mind that it has to be done perfectly when recording; no undoing is allowed.</li>
                    </ul><br>
                <li>Once finished conducting all of the edits manually, press the square button in the Action Window to stop recording.
                    <img class="rounded mx-auto d-block" src="{{ '/objects/createmacros4.jpg' | absolute_url }}">
                </li>
                <li>Go to File>Automate>Batch.
                    <img class="rounded mx-auto d-block" src="{{ '/objects/pdf-batch_3.jpg' | absolute_url }}"></li><br>
                
                <li>Fill out the following form as necessary.</li>
                    <ul>
                        <li>Select the correct Action, or the action you just created.</li>
                        <li>Source: You may choose to have the macro apply to files you have opened or entire files an specific folder. Your choice.</li>
                        <li>Destination: You may choose "Save and Close," which will save and close the file in the same location in which it was opened. Or you may choose "Folder" to specify a different folder to save all the edited pages.</li>
                        <li>File Naming: You may be able to auto-name your files as long as a single file name can apply to all of the files to go through the macro. Be sure to add a serial number if that is the case.</li>
                        <li>Make any other settings that you may find applicable to your files.</li>
                    </ul>
                <li>Select OK and let Photoshop do the work for you!</li>
        </div><hr><br>
        
    </main>
{% include footer.html %}
{% include foot.html %}
{% include scroll-to-top.html %}
</body>
</html>
