<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    
    <div class="container">
        <h1>Photoshop Tips and Tricks</h1>

        {{content}}

    <main id="maincontent" role="main" class="flex-shrink-0">
    <div class="container">
        {{ content }}
    </div>

    <main id="maincontent" role="main" class="flex-shrink-0">
        <div class="container">
        <div class="card mb-9">
            <h2 style="text-align:center">Follow links below for Extra Photoshop Pointers</h2>
                <a class="btn btn-secondary btn-lg btn-block" href="#dust" role="button">Dust and Scratches Filter</a>    
                <a class="btn btn-secondary btn-lg btn-block" href="#patternstamp" role="button">Pattern Stamp</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#brush" role="button">Brush Tool</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#bendtext" role="button">Bend Text</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#puppetwarp" role="button">Puppet Warp</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#erasedots" role="button">Erasing Background Dots</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#shared" role="button">Shared Tips</a>
        </div><hr><br>

        <div class="container">
            <h2 id="dust">Dust and Scratches Filter</h2>
        <iframe src="objects/Dust and Scratches Filter.pdf" width="100%" height="800px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="patternstamp">Pattern Stamp</h2>
        <iframe src="objects/Pattern Stamp.pdf" width="100%" height="800px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="brush">Brush Tool</h2>
        <iframe src="objects/Brush Tool.pdf" width="100%" height="800px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="bendtext">Bend Text</h2>
        <iframe src="objects/How to Bend Text in Photoshop.pdf" width="100%" height="1000px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="puppetwarp">Puppet Warp</h2>
        <iframe src="objects/Using Puppet Warp to Adjust Pages.pdf" width="100%" height="1000px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="erasedots">Erasing Background Dots</h2>
        <iframe src="objects/Erasing Background Dots.pdf" width="100%" height="1000px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="shared">Shared Tips</h2>
        <iframe src="objects/Shared Tips.pdf" width="100%" height="1000px"></iframe>
        </div><hr><br>

    </div>
    
    
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>
