<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    <div class="container">
        <h1 style="text-align:center">Scripts and Macros Tutorials in Photoshop</h1>
            <p style="text-align:center"><a href="#opentiff">Open Tiff file in Photoshop</a></p>
            <p style="text-align:center"><a href="#imagesize">Verify Image Resolution and Page Dimensions</a></p>
            <p style="text-align:center"><a href="#legibility">Check Text Legibility</a></p>
            <p style="text-align:center"><a href="#cropping">Crop Document if Necessary</a></p>
            <p style="text-align:center"><a href="#straighten">Straighten Document</a></p>
            <p style="text-align:center"><a href="#tearsandstains">Clean out Tears, Stains, and other Marks</a></p>
            <p style="text-align:center"><a href="#saveas">Save as JPG and PDF</a></p>
    </div>
    <hr>
    </div>
    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>