<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    <div class="container">
        <h1 style="text-align:center">Steps to Cleaning Documents in Photoshop</h1>
            <p style="text-align:center"><a href="#opentiff">Open Tiff file in Photoshop</a></p>
            <p style="text-align:center"><a href="#imagesize">Verify Image Resolution and Page Dimensions</a></p>
            <p style="text-align:center"><a href="#legibility">Check Text Legibility</a></p>
            <p style="text-align:center"><a href="#cropping">Crop Document if Necessary</a></p>
            <p style="text-align:center"><a href="#straighten">Straighten Document</a></p>
            <p style="text-align:center"><a href="#tearsandstains">Clean out Tears, Stains, and other Marks</a></p>
            <p style="text-align:center"><a href="#marqueetool">Using Marquee Tool to Clean Spots (content-aware, overlap selection, foreground fill...)</a></p>
            <p style="text-align:center"><a href="#colorrange">Using Color Range to Make Selection (then to marquee to fill)</a></p>
            <p style="text-align:center"><a href="#saveas">Save as JPG and PDF</a></p>
    </div>
    <hr>
    <div class="container">
      <h2 id="cropping">How to Crop an Image</h2>
      <div class="alert alert-warning" role="alert">
        Before making any edits to your document, be sure to <a href="shortcuts.html#duplicatelayer">duplicate</a> the image layer.
      </div>
        <ol>
          <li>The crop tool is located in the toolbar on the upper left side of the screen and is used to trim any area off of an image.
            <img class="rounded mx-auto d-block" src="{{ '/objects/crop1.jpg' | absolute_url }}">
          </li><br>
          
          <li>Mark off the area you do not want removed. This can be done by holding the left mouse button and dragging across the scan. The area to be removed will be “blacked out”.<br>
            <img class="rounded mx-auto d-block" src="{{ '/objects/crop2.jpg' | absolute_url }}">
          </li><br>

          <li>After marking off the area to be cropped, click on the check icon on the top center of the toolbar to apply changes. The cancel icon will cancel all changes made.<br>
            <img class="rounded mx-auto d-block" src="{{ '/objects/crop3.jpg' | absolute_url }}">
          </li><hr>
        </ol>
    </div>

    <div class="container">
      <h2 id="straighten">How to Straighten an Image</h2>
      <div class="alert alert-warning" role="alert">
        Before making any edits to your document, be sure to <a href="shortcuts.html#duplicatelayer">duplicate</a> the image layer.
      </div>

      <ol>
        <li>After selecting the crop tool, a small leveler icon will appear on the top toolbar with 'Straighten' next to it.
          <img class="rounded mx-auto d-block" src="{{ '/objects/straighten1.jpg' | absolute_url }}">
        </li><br>

        <li>
          Click and drag along a crooked line on the image and it will auto straighten the image using the line drawn.
            <img class="rounded mx-auto d-block" src="{{ '/objects/straighten2.jpg' | absolute_url }}">
        </li>
      </ol><hr>

    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>