<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    <div class="container">
        <h1 style="text-align:center">Photoshop Techniques for Cleaning Files</h1>
        <p><b>You may use any, all, or none of these techniques for cleaning files based on the condition of the scanned file. The buttons in red are steps that should be completed when cleaning EVERY file. Please see a staff member if you have any questions.</b></p>
        <a class="btn btn-danger btn-md btn-block" href="#duplicating">Duplicate Layers</a>
        <a class="btn btn-secondary btn-md btn-block" href="#rotate">Rotating an Image</a>
        <a class="btn btn-secondary btn-md btn-block" href="#crop">Crop an Image</a>
        <a class="btn btn-secondary btn-md btn-block" href="#straighten">Straighten an Image</a>
        <a class="btn btn-secondary btn-md btn-block" href="#curves">Levels and Curves Adjustments</a>
        <a class="btn btn-secondary btn-md btn-block" href="#dodgeburn">Dodge and Burn Tools</a>
        <a class="btn btn-secondary btn-md btn-block" href="#clonestamp">Clone Stamp Tool</a>
        <a class="btn btn-secondary btn-md btn-block" href="#selection">Selection Tools and Fill</a>
        <a class="btn btn-secondary btn-md btn-block" href="#spothealing">Spot Healing Tool</a>
        <a class="btn btn-secondary btn-md btn-block" href="#patchtool">Patch Tool</a>
        <a class="btn btn-danger btn-md btn-block" href="#imagesize">Check Canvas Size</a>
    </div>
    <hr>

    <div class="container">
      <h2 id="duplicating">Duplicate Layers</h2>
        <ol>
          <li>Photoshop works in 'layers', a way to organize different steps and edits. The layers panel is located in the lower-right corner of the window.</li>

          <li>When an image is first opened, you will notice that the image is 'locked' in the right side of the layer, indicated with a lock symbol. This is the original copy.<br><br>
            <img class="rounded mx-auto d-block" src="{{ '/objects/lockedlayer.png' | absolute_url }}"></li><br>

            <div class="alert alert-danger" role="alert">
              You should ALWAYS duplicate the original layer. Use the original layer as a reference during the optimization process or to start over with the page.
            </div>

          <li>Right-click on the locked image and choose <code>Duplicate Layer</code>. This will make a copy of the original.<br><br>
            <img class="rounded mx-auto d-block" src="{{ '/objects/duplicatelayer.png' | absolute_url }}"></li><br>

          <li>Turn off the 'eye' on the background layer by clicking it so that only the layer saying 'background copy' has an eye icon next to it. This will be the copy you will be working with (seeing).<br><br>
            <img class="rounded mx-auto d-block" src="{{ '/objects/layervisibility.png' | absolute_url }}"></li><br>
        </ol>
    </div><hr>

    <div class="container">
      <h2 id="rotate">Rotate Images</h2>
      Rotating an image in this step will rotate visible layers
        <ol>To rotate the image, go to the menu on the top left side of the screen. Navigate to Image>Image Rotation and there is the option to rotate an image 180 or 90 degrees either direction; select the option needed.
          <ul>
            <li>There is also an 'Arbitrary' option, which allows you to manually choose the degree to which to rotate if 180 or 90 is not what is needed. Click <a href="#straigten">here</a> to learn how to straighten an image.</li><br>
            </ul>
            <img class="rounded mx-auto d-block" src="{{ '/objects/layervisibility.png' | absolute_url }}"></li><br>
        </ol>
    </div><hr>

    <div class="container">
      <h2 id="crop">Crop an Image</h2>
      <div class="alert alert-warning" role="alert">
        Before making any edits to your document, be sure to <a href="#duplicating">duplicate</a> the image layer.
      </div>
        <ol>
          <li>The crop tool is located in the toolbar on the upper left side of the screen and is used to trim any area off of an image, such as extra white-space.
            <img class="rounded mx-auto d-block" src="{{ '/objects/crop1.jpg' | absolute_url }}">
          </li><br>
          
          <li>Mark off the area you do not want removed. This can be done by holding the left mouse button and dragging across the scan. The area to be removed will be “blacked out”.<br>
            <img class="rounded mx-auto d-block" src="{{ '/objects/crop2.jpg' | absolute_url }}">
          </li><br>

          <li>After marking off the area to be cropped, click on the check icon on the top center of the toolbar to apply changes. The cancel icon will cancel all changes made.<br>
            <img class="rounded mx-auto d-block" src="{{ '/objects/crop3.jpg' | absolute_url }}">
          </li><hr>
        </ol>
    </div>

    <div class="container">
      <h2 id="straighten">Straighten an Image</h2>
      <div class="alert alert-warning" role="alert">
        Before making any edits to your document, be sure to <a href="#duplicating">duplicate</a> the image layer.
      </div>

      <ol>
        <li>Select the 'Ruler' tool on the left-side toolbar. It can be found by right-clicking on the 'Eye-Dropper Tool'.<br><br>
          <img class="rounded mx-auto d-block" src="{{ '/objects/straighten1.jpg' | absolute_url }}">
        </li><br>

        <li>
          Click and drag along a crooked line on the image and then select 'Straighten Layer' at the top toolbar. If your layer doesn't have any lines, but has text instead, drag a line underneath a line of text as an imaginary line.<br><br>
            <img class="rounded mx-auto d-block" src="{{ '/objects/straighten2.jpg' | absolute_url }}">
        </li><br>

        <li>
          This will often change the canvas size as you will see the checkered background around the edges. <a href="#marquee"><b>Check your canvas size</b></a>, especially for standard dimension documents such as 11x17, 8.5x11, and so on.<br><br>
            <img class="rounded mx-auto d-block" src="{{ '/objects/straighten3.jpg' | absolute_url }}">
        </li><br>

        <li>Select the check mark in the tool bar to confirm the action.</li>
      </ol><hr>
    </div>

    <div class="container">
      <h2 id="curves">Adjust the Levels and Curves (Shadows and Highlights Balance)</h2>
      <div class="alert alert-warning" role="alert">
        Before making any edits to your document, be sure to <a href="#duplicating">duplicate</a> the image layer.
      </div>
      <iframe src="objects/Levels and Curves Adjustment Tips.pdf" width="100%" height="700px"></iframe><br><hr>
    </div>

      <div class="container">
        <h2 id="dodgeburn">Dodge and Burn Tools</h2>
        <div class="alert alert-warning" role="alert">
          Before making any edits to your document, be sure to <a href="#duplicating">duplicate</a> the image layer.
        </div>
        The dodge tool is a brush used to lighten where brushed, the burn tool is a brush used to darken where brushed. The burn tool is commonly used to darken text to make it more legible.<br>
        <ol>
          <li>The Dodge and Burn tool is located on the left-side toolbar. Right-click on the icon to reveal more tool options.Be sure to either have the burn or dodge tool selected.<br><br>
            <img class="rounded mx-auto d-block" src="{{ '/objects/dodgeburntool.jpg' | absolute_url }}"></li><br>
          <li>You can adjust the exposure level by typing in the amount of exposure you want or by using a slider. The slider can by accessed by clicking the arrow on the right side of the exposure input area.
            <img class="rounded mx-auto d-block" src="{{ '/objects/dodgeburnadjustments.png' | absolute_url }}"></li><br>
          <li>You can select which range you want (shadows, midtones, or hightlights) to change. You will have to experiment with different ranges to fully understand you they work for whichever effect that you desire.<br>
            <img class="rounded mx-auto d-block" src="{{ '/objects/burnrange.jpg' | absolute_url }}"></li><br>
        </ol><hr>
      </div>

      <div class="container">
        <h2 id="clonestamp">Clone Stamp Tool</h2>
        <div class="alert alert-warning" role="alert">
          Before making any edits to your document, be sure to <a href="#duplicating">duplicate</a> the image layer.
        </div>
        The Clone Stamp tool is a brush that allows you to copy an area and clone that copied area to another location on the canvas. This tool is extremely helpful when trying to replace lines and letters.<br>
        <div class="alert alert-info" role="alert">
          See other similar tools (such as the <a href="#selection">selection,</a> <a href="#spothealing">spot healing brush,</a> and the <a href="#patchtool">patch tool</a>) to pick the most efficient for the situation. Sometimes a combination of these tools is necessary to get the desired outcome.
        </div>
        <ol>
          <li>The Clone Stamp tool is located on the left-side toolbar. Right-click on the icon to reveal more tool options. Be sure to have the Clone Stamp Tool selected.<br>
            <img class="rounded mx-auto d-block" src="{{ '/objects/clonestamp.jpg' | absolute_url }}"><br></li>
          <li>To Clone Stamp an unwanted area, hover over the area you want to clone to another area. Hold down the <code>ALT</code> key and left-click. This will select the clone area.<br>
            <img class="rounded mx-auto d-block" src="{{ '/objects/clonearea.jpg' | absolute_url }}"></li><br>
          <li>Next, move over the area to be covered up and hold the left button down while brushing over the desired area.
            <img class="rounded mx-auto d-block" src="{{ '/objects/clonebrush.jpg' | absolute_url }}"></li><br>
          Here's another example:
          <img class="rounded mx-auto d-block" src="{{ '/objects/cloneexample.jpg' | absolute_url }}"></li><br>
        </ol><hr>
        </div>

        <div class="container">
          <h2 id="selection">Selection Tool and Fill</h2>
          <div class="alert alert-warning" role="alert">
            Before making any edits to your document, be sure to <a href="#duplicating">duplicate</a> the image layer.
          </div>
          <h3>Marquee Tool</h3>
          The Marquee tool is a selection tool with some handy filling options, such as content-aware, foreground, and background. Content-aware filling considers the content outside the selection to the fill with that content. Foreground filling uses the top color in the color squares in the left-side toolbar. The background fill uses the bottom color in the color squares in the left-side toolbar.<br>
          <div class="alert alert-info" role="alert">
            See other similar tools (such as the <a href="#clonestamp"> clone stamp,</a> <a href="#spothealing">spot healing brush,</a> and the <a href="#patchtool">patch tool</a>) to pick the most efficient for the situation. Sometimes a combination of these tools is necessary to get the desired outcome.
          </div>
          <ol>
            <li>Select the Rectangular Marquee Tool, which is located on the left-side toolbar.
              <img class="rounded mx-auto d-block" src="{{ '/objects/marquee1.jpg' | absolute_url }}"></li><br>
            <li>Select the area to be corrected by clicking and dragging a square across the area to be repaired.
              <img class="rounded mx-auto d-block" src="{{ '/objects/marquee2.jpg' | absolute_url }}"></li><br>
            <li>With your cursor inside the selected area, right-click to access the sub-menu and select 'fill'.</li>
              <img class="rounded mx-auto d-block" src="{{ '/objects/marquee3.jpg' | absolute_url }}"></li><br>
            <li>A small window will pop up. In the first drop-down, select 'Content-Aware'.
              <img class="rounded mx-auto d-block" src="{{ '/objects/marquee4.jpg' | absolute_url }}"></li><br>
          </ol><hr>

          <h3>Color Range Selection</h3>
          Color Range selection uses the "eyedropper" to select same colored pixels throughout the document.
          <ol>
            <li>First, you will need to select the color of the document and save it as the foreground color. To do this, select the foreground color in the squares in the left-side toolbar. When the window pops up, use your cursor (which will now take the shape of an eyedropper) to select anywhere on the background of the document. This will be the color used to fill in parts of the document that are not wanted to be replaced with the document color to blend in.<br><br>
              <img class="rounded mx-auto d-block" src="{{ '/objects/colorrange.jpg' | absolute_url }}"></li><br>
            <li>Locate Color Range by navigating to 'Select>Color Range'.<br><br>
              <img class="rounded mx-auto d-block" src="{{ '/objects/colorrange1.jpg' | absolute_url }}"></li><br>
            <li>When the window pops up, use your cursor (which will now take the shape of an eyedropper) to select the section you want to select. <b>Do not press 'OK' yet.</b><br><br>
              <img class="rounded mx-auto d-block" src="{{ '/objects/colorrange2.jpg' | absolute_url }}"></li><br>
            <li>In the window, select the eyedropper with the little plus symbol next to it. Then click and drag over a majority of the area you want to select. This is just to ensure that all of the colored pixels in this range are selected. You may unclick and click and hold again in a different area, or even click multiple times to ensure every color you want replaced is selected.Then select 'OK'.<br><br>
              <img class="rounded mx-auto d-block" src="{{ '/objects/colorrange3.jpg' | absolute_url }}"></li><br>
            <li>You should see lines around the area of the colors you selected. Now select the 'Marquee' tool then right-click with your cursor in the selected area and select 'Fill'.<br><br>
              <img class="rounded mx-auto d-block" src="{{ '/objects/colorrange4.jpg' | absolute_url }}"></li><br>
            <li>Once the selection is filled, you may or may not see some spots that were missed. You can repeat the process over agin until you get the result you are looking for.</li><hr>
          </ol>
        </div>

        <div class="container">
          <h2 id="spothealing">Spot Healing Brush Tool</h2>
          <div class="alert alert-warning" role="alert">
            <p class="font-italic">Before making any edits to your document, be sure to <a href="#duplicating">duplicate</a> the image layer.</p>
          </div>
          The Spot Healing Brush Tool uses content-aware to fill in the spots brushed over with this tool. It is useful for quickly covering small areas with imperfections or cleaning up edges of documents.
          <div class="alert alert-info" role="alert">
            <p class="font-italic">See other similar tools (such as the <a href="#clonestamp"> clone stamp,</a> <a href="#marquee">marquee,</a> and the <a href="#patchtool">patch tool</a>) to pick the most efficient for the situation. Sometimes a combination of these tools is necessary to get the desired outcome.</p>
          </div>
          <ol>
            <li>Select the Spot Healing Brush Tool, which is located on the left-side toolbar. You can right-click this tool to reveal more similar tool options.
              <img class="rounded mx-auto d-block" src="{{ '/objects/spotheal1.jpg' | absolute_url }}"></li><br>
            <li>Brush over the area with the imperfection to 'heal' it.
              <img class="rounded mx-auto d-block" src="{{ '/objects/spotheal2.jpg' | absolute_url }}"></li><br>
            <li>Continue brush use for any other imperfections. Notice the difference at the tops of the images below for a before and after.
              <img class="rounded mx-auto d-block" src="{{ '/objects/spotheal3.jpg' | absolute_url }}"></li><br>
          </ol><hr>
        </div>

        <div class="container">
          <h2 id="patchtool">Patch Tool</h2>
          <div class="alert alert-warning" role="alert">
            <p class="font-italic">Before making any edits to your document, be sure to <a href="#duplicating">duplicate</a> the image layer.</p>
          </div>
          The patch tool is quite similar to the healing spot tool, except that the area to be fixed is selected and then dragged to an area that would 'patch' the selection area. The patch tool tries to retain the tone and color of the location to be patched
          <div class="alert alert-info" role="alert">
            <p class="font-italic">See other similar tools (such as the <a href="#clonestamp"> clone stamp,</a> <a href="#marquee">marquee,</a> and the <a href="#spothealing">spot healing brush tool</a>) to pick the most efficient for the situation. Sometimes a combination of these tools is necessary to get the desired outcome.</p>
          </div>
          <ol>
            <li>Select the Patch Tool, which is located on the left-side toolbar usually accessed by right-clicking on the Spot Healing Brush Tool and selecting Patch Tool.
              <img class="rounded mx-auto d-block" src="{{ '/objects/patchtool1.jpg' | absolute_url }}"></li><br>
            <li>Draw a selection circle around the area you want to fix.
              <img class="rounded mx-auto d-block" src="{{ '/objects/patchtool2.jpg' | absolute_url }}"></li><br>
            <li>Left-click in the selected circle and drag to an area that with good texture (Color doesn't necessarily matter too much because the patch tool will attempt to keep as much of the local color as possible while replacing the texture.). Then release the click.
              <img class="rounded mx-auto d-block" src="{{ '/objects/patchtool3.jpg' | absolute_url }}"></li><br>
            <li>Hold <code>CTRL-D</code> to deselect the area.</li><br>
            <li>You may notice that the patch tool doesn't work too well with colors. This is what happens when I try to fix the edge of the page:
              <img class="rounded mx-auto d-block" src="{{ '/objects/patchtool4.jpg' | absolute_url }}">
            The edge was blurred rather than filled in. This is a job for either the <a href="#spothealing">spot healing brush tool</a> or the <a href="#clonestamp">clone stamp</a>.</li><br>
          </ol><hr><br>
        </div>

        <div class="container">
          <h2 id="imagesize">Check Image Size</h2>
          <ol>
            <li>As a quick check of your canvas size, look to the very lower-left of the Photoshop window. This small box displays the image/canvas size and the ppi (pixels per inch). Check that these numbers match the original document size you started with before applying any edits. Standard document sizes are 8.5x11 (letter), 8.5x14 (legal), and 11x17 (ledger). Many maps most likely will not adhere to these standards, so check what the original scanned dimensions were. In this case, the file's canvas size has changed over the course of editing. <br>
              <img class="rounded mx-auto d-block" src="{{ '/objects/checkcanvas1.jpg' | absolute_url }}"></li><br>
            <li>To fix this, navigate to 'Image' on the top navigation bar, then to 'Canvas Size'.
              <img class="rounded mx-auto d-block" src="{{ '/objects/checkcanvas2.jpg' | absolute_url }}"></li><br>
            <li>In the next window, change to the appropriate dimensions.
              <img class="rounded mx-auto d-block" src="{{ '/objects/checkcanvas3.jpg' | absolute_url }}"></li><br>
          </ol>
          <div class="alert alert-danger" role="alert">
            <p class="font-italic">You should ALWAYS check the canvas size before saving and closing your file. This should also be the very last thing that you do before saving and closing the file.</p>
          </div>
        </div>




    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>