<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}

</style>
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    <div class="container">
        {{ content }}
    </div>

<div class="container">
    <h1 style="text-align:center">Glossary</h1>
</div><br>

<div id="sticky" class="pagination">
    <a href="#a">A</a>
    <a href="#b">B</a>
    <a href="#c">C</a>
    <a href="#d">D</a>
    <a href="#e">E</a>
    <a href="#f">F</a>
    <a href="#g">G</a>
    <a href="#h">H</a>
    <a href="#i">I</a>
    <a href="#j">J</a>
    <a href="#k">K</a>
    <a href="#l">L</a>
    <a href="#m">M</a>
    <a href="#n">N</a>
    <a href="#o">O</a>
    <a href="#p">P</a>
    <a href="#q">Q</a>
    <a href="#r">R</a>
    <a href="#s">S</a>
    <a href="#t">T</a>
    <a href="#u">U</a>
    <a href="#v">V</a>
    <a href="#w">W</a>
    <a href="#x">X</a>
    <a href="#y">Y</a>
    <a href="#z">Z</a>
</div>
</div><hr>

<div class="content" style="margin-top: 45px;">
    <h1 id="a">A</h1>
        <h3>Acid Mine Drainage</h3>
            <p>Acidic run-off water from mine waste dumps and mill tailings ponds containing sulphide minerals. Also refers to ground water pumped to surface from mines.</p><br>
        <h3>Adit</h3>
            <p>A horizontal or nearly horizontal underground passage coming to the surface at one end of a mine.</p><br>
        <h3>Aeromagnetic Survey</h3>
            <p>A geophysical survey using a magnetometer aboard, or towed behind, an aircraft.</p><br>
        <h3>Airborne Survey</h3>
            <p>A survey made from an aircraft to obtain photographs, or measure magnetic properties, radioactivity, etc.</p><br>
        <h3>Alluvial</h3>
            <p>of or pertaining to alluvium; alluvial soil.</p><br>
        <h3>Alluvium</h3>
            <p>a deposit of sand, mud, etc., formed by flowing water.</p><br>
        <h3>Anomaly</h3>
            <p>Any departure from the norm which may indicate the presence of mineralization in the underlying bedrock.</p><br>
        <h3>Apex</h3>
            <p>The top or terminal edge of a vein on surface or its nearest point to the surface.</p><br>
        <h3>Assay Foot (Meter, Inch, Centimeter)</h3>
            <p>The assay value multiplied by the number of feet, metres, inches, centimetres across which the sample is taken.</p><br>
        <h3>Assay Map</h3>
            <p>Plan view of an area indicating assay values and locations of all samples taken on the property.</p><br>
        <h3>Assay (Noun)</h3>
            <p>A chemical test performed on a sample of ores or minerals to determine the amount of valuable metals contained.</p><br>
        <h3>Assay (Verb)</h3>
            <p>To analyze (an ore, alloy, etc.) in order to determine the proportion of gold, silver, or other metal in it.</p><br>
        <h3>Assessment Work</h3>
            <p>The amount of work, specified by mining law, that must be performed each year in order to retain legal control of mining claims.</p><hr>
        
        <h1 id="b">B</h1>
        <h3>Back</h3>
            <p>The ceiling or roof of an underground opening.</p><br>
        <h3>Backfill</h3>
            <p>Waste material used to fill the void created by mining an orebody.</p><br>
        <h3>Ball Mill</h3>
            <p>A steel cylinder filled with steel balls into which crushed ore is fed. The ball mill is rotated, causing the balls to cascade and grind the ore.</p><br>
        <h3>Bar Claims</h3>
            <p>Gold found in low collections of sand, or gravel, in rivers, exposed at low water.</p><br>
        <h3>Batholith</h3>
            <p>A large mass of igneous rock extending to great depth with its upper portion dome-like in shape. Similar, smaller masses of igneous rocks are known as bosses or plug.
            </p><br>
        <h3>Bentonite</h3>
            <p>A clay with great ability to absorb water and which swells accordingly.</p><br>
        <h3>Bio-leaching</h3>
            <p>A process for recovering metals from low-grade ores by dissolving them in solution, the dissolution being aided by bacterial action.</p><br>
        <h3>Blast Furnace</h3>
            <p>A reaction vessel in which mixed charges of oxide ores, fluxes and fuels are blown with a continuous blast of hot air and oxygen-enriched air for the chemical reduction of metals to their metallic state.</p><br>
        <h3>Blasthole</h3>
            <p>A drill hole in a mine that is filled with explosives in order to blast loose a quantity of rock.</p><br>
        <h3>Block Caving</h3>
            <p>An inexpensive method of mining in which large blocks of ore are undercut, causing the ore to break or cave under its own weight.</p><br>
        <h3>Box Hole</h3>
            <p>A short raise or opening driven above a drift for the purpose of drawing ore from a stope, or to permit access.</p><br>
        <h3>Broken Reverves</h3>
            <p>The ore in a mine which has been broken by blasting but which has not yet been transported to surface.</p><br>
        <h3>Brunton Compass</h3>
            <p>A pocket compass equipped with sights and a reflector, used for sighting lines, measuring dip and carrying out preliminary surveys.</p><br>
        <h3>Bulk Sample</h3>
            <p>A large sample of mineralized rock, frequently hundreds of tonnes, selected in such a manner as to be representative of the potential orebody being sampled. Used to determine metallurgical characteristics.</p><hr>

        <h1 id="c">C</h1>
        <h3>Cable Bolt</h3>
            <p>A steel cable, capable of withstanding tens of tonnes, cemented into a drillhole to lend support in blocky ground.</p><br>
        <h3>Cage</h3>
            <p>The conveyance used for hoisting and lowering the ore cars, men, and materials of a mine between the surface and the mine levels.</p><br>
        <h3>Captive Stope</h3>
            <p>A stope that is accessible only through a manway.</p><br>
        <h3>Change House</h3>
            <p>The mine building where workers change into work clothes; also known as the "dry".</p><br>
        <h3>Chute</h3>
            <p>An inclined channel usually constructed of timber and equipped with a gate, through which ore is drawn from a stope into mine cars.</p><br>
        <h3>Claim</h3>
            <p>Something that is claimed, esp. a piece of public land for which formal request is made for mining or other purposes.</p><br>
        <h3>Claim-Jumper</h3>
            <p>A person who seizes another's claim of land, esp. for mineral rights.</p><br>
        <h3>Collar</h3>
            <p>The term applied to the timbering or concrete around the mouth of a shaft; also used to describe the top of a mill hole.</p><br>
        <h3>Complex Ore</h3>
            <p>An ore containing a number of minerals of economic value. The term often implies that there are metallurgical difficulties in liberating and separating the valuable metals.</p><br>
        <h3>Concentrate</h3>
            <p>A fine, powdery product of the milling process containing a high percentage of valuable metal.</p><br>
        <h3>Concentrator</h3>
            <p>A milling plant that produces a concentrate of the valuable minerals or metals. Further treatment is required to recover the pure metal.</p><br>
        <h3>Controlled Blasting</h3>
            <p>Blasting patterns and sequences designed to achieve a particular objective. Cast blasting, where the muck pile is cast in a particular direction, and deck blasting, where holes are loaded once but blasted in successive blasts days apart, are examples.</p><br>
        <h3>Core</h3>
            <p>The long cylindrical piece of rock, about an inch in diameter, brought to surface by diamond drilling.</p><br>
        <h3>Coyote Hole</h3>
            <p>A shallow excavation dug in the ground for mineral exploration or extraction.</p><br>
        <h3>Cribbing</h3>
            <p>A timber or plank lining of a shaft; the confining of a wall-rock.</p><br>
        <h3>Crosscut</h3>
            <p>A horizontal tunnel driven perpendicular to the main direction of a vein.</p><br>
        <h3>Cut-and-fill</h3>
            <p> A method of stoping in which ore is removed in slices, or lifts, and then the excavation is filled with rock or other waste material (backfill), before the subsequent slice is extracted.</p><br>
        <h3>Cyanidation</h3>
            <p>A method of extracting exposed gold or silver grains from crushed or ground ore by dissolving it in a weak cyanide solution. May be carried out in tanks inside a mill or in heaps of ore out of doors.</p><hr>

        <h1 id="d">D</h1>
        <h3>Deck</h3>
            <p>The area around the shaft collar where men and materials enter the cage to be lowered underground.</p><br>
        <h3>Decline</h3>
            <p>A sloping underground opening for machine access from level to level or from surface; also called a ramp.</p><br>
        <h3>Deposit</h3>
            <p>A body of ore distinct from a ledge.</p><br>
        <h3>Diamond Drill</h3>
            <p>A rotary type of rock drill using bit made from low quality diamonds that cuts a core of rock that is recovered in long cylindrical sections, two cm or more in diameter.</p><br>
        <h3>Diggings</h3>
            <p>Name applied to placers being worked.</p><br>
        <h3>Dip</h3>
            <p>The slope, pitch, or angle which a vein makes with the plane of the horizon.</p><br>
        <h3>Drawpoint</h3>
            <p>An underground opening at the bottom of a stope through which broken ore from the stope is extracted.</p><br>
        <h3>Drift</h3>
            <p>A horizontal underground opening that follows along the length of a vein or rock formation as opposed to a crosscut which crosses the rock formation.</p><hr>
        
        <h1 id="e">E</h1>
        <h3>Excavation</h3>
            <p>An area where rock or alluvium has been removed.</p><hr>

        <h1 id="f">F</h1>
        <h3>Face</h3>
            <p>The end of a drift, crosscut or stope in which work is taking place.</p><br>
        <h3>Flume</h3>
            <p>A boxing or piping for carrying water. Similar to sluice boxes, but they do not have riffles and are used solely to transport water in areas where a ditch would be impossible such as cliff sides and rocky hillsides.</p><br>
        <h3>Fools Gold</h3>
            <p>FeS2 - iron pyrite, sometimes mistaken for gold.</p><br>
        <h3>Footwall</h3>
            <p>The rock on the underside of a vein or ore structure.</p><hr>
        
        <h1 id="g">G</h1>
        <h3>Gallows Frame</h3>
            <p>A structure supporting the hoisting sheaves at the top of a mineshaft. Also called a Headframe</p><br>
        <h3>Glory Hole</h3>
            <p>An open pit from which ore is extracted, especially where broken ore is passed to underground workings before being hoisted.</p><br>
        <h3>Grab Sample</h3>
            <p>A sample from a rock outcrop that is assayed to determine if valuable elements are contained in the rock. A grab sample is not intended to be representative of the deposit, and usually the best-looking material is selected.</p><br>
        <h3>Grizzly (or Mantle)</h3>
            <p>A grating, usually constructed of steel rails, placed over the top of a chute or ore pass for the purpose of stopping large pieces of rock or ore that may hang up in the pass.</p><br>
        <h3>Gold</h3>
            <p>a precious yellow metallic element, highly malleable and ductile, and not subject to oxidation or corrosion. Symbol: Au; atomic. weight: 196.967; atomic number: 79.</p><br>
        <h3>Guide</h3>
            <p>The timber rails installed along the walls of a shaft for steadying, or guiding, the cage or conveyance.</p><hr>
        
        <h1 id="h">H</h1>
        <h3>Hanging Wall</h3>
            <p>The layer of rock or wall over a lode.</p><br>
        <h3>Headframe</h3>
            <p>A structure supporting the hoisting sheaves at the top of a mineshaft. Also called gallows frame.</p><br>
        <h3>Highbanker</h3>
            <p>A mobile sluice box. Instead of being put right in the creek, it uses water to pump to transport the water and minerals to another location. It is also able to run more material in less time than the sluice.</p><br>
        <h3>Hoist</h3>
            <p>The machine used for raising and lowering the cage or other conveyance in a shaft.</p><hr>
        
        <h1 id="i">I</h1>
        <h3>Incline</h3>
            <p>A slanting shaft.</p><br>
        <h3>Industrial Minerals</h3>
            <p>Non-metallic, non-fuel minerals used in the chemical and manufacturing industries. Examples are asbestos, gypsum, salt, graphite, mica, gravel, building stone and talc.</p><hr>
        
        <h1 id="j">J</h1>
        <h3>Jig</h3>
            <p>A piece of milling equipment used to concentrate ore on a screen submerged in water, either by the reciprocating motion of the screen or by the pulsation of water through it.</p><hr>
        
        <h1 id="k">K</h1><hr>

        <h1 id="l">L</h1>
        <h3>Lagging</h3>
            <p>Planks or small timbers placed between steel ribs along the roof of a stope or drift to prevent rocks from falling, rather than to support the main weight of the overlying rocks.</p><br>
        <h3>Ledge</h3>
            <p>A vein or lode.</p><br>
        <h3>Level</h3>
            <p>The horizontal openings on a working horizon in a mine; it is customary to work mines from a shaft, establishing levels at regular intervals, generally about 50 metres or more apart.</p><br>
        <h3>Lode</h3>
            <p>A mineral deposit in solid rock.</p><br>
        <h3>Logging</h3>
            <p>The process of recording geological observations of drill core either on paper or on computer disk.</p><br>
        <h3>Long Tom</h3>
            <p>Similar to a sluice box, but longer and skinnier.</p><hr>

        <h1 id="m">M</h1>
        <h3>Malleable</h3>
            <p>malleability, property of a metal describing the ease with which it can be hammered, forged, pressed, or rolled into thin sheets. Metals vary in this respect; pure gold is the most malleable.</p><br>
        <h3>Mercury</h3>
            <p>a liquid metal used by the miners to concentrate gold Symbol: Hg; atomic. weight: 200.59; atomic number: 80.</p><br>
        <h3>Mill Run</h3>
            <p>A test of the quality of ore after reduction.</p><br>
        <h3>Mill</h3>
            <p>A plant in which ore is treated and metals are recovered or prepared for smelting; also a revolving drum used for the grinding of ores in preparation for treatment.</p><br>
        <h3>Miner</h3>
            <p>A person who works in a mine.</p><br>
        <h3>Mine</h3>
            <p>To dig in the earth for the purpose of extracting ores or other valuable minerals.</p><br>
        <h3>Mother Lode</h3>
            <p>A belt of very rich gold-bearing quartz veins.</p><hr>
        
        <h1 id="n">N</h1>
        <h3>Native Metal</h3>
            <p>A metal occurring in nature in pure form, uncombined with other elements.</p><br>
        <h3>Nugget</h3>
            <p>A random shaped piece of gold of medium to large size.</p><hr>

        <h1 id="o">O</h1>
        <h3>Open Pit Mine</h3>
            <p>Because of the danger associated with drifts, open-pit mines are dug from the ground down and are never tunneled and are the most common form of hard-rocking mining today.</p><br>
        <h3>Ore</h3>
            <p>A mixture of ore minerals and gangue from which at least one of the metals can be extracted at a profit.</p><br>
        <h3>Ore Pass</h3>
            <p>Vertical or inclined passage for the downward transfer of ore connecting a level with the hoisting shaft or a lower level.</p><br>
        <h3>Ore Reserves</h3>
            <p>The calculated tonnage and grade of mineralization which can be extracted profitably; classified as possible, probable and proven according to the level of confidence that can be placed in the data.</p><br>
        <h3>Orebody</h3>
            <p>A natural concentration of valuable material that can be extracted and sold at a profit.</p><br>
        <h3>Oreshoot</h3>
            <p>The portion, or length, of a vein or other structure that carries sufficient valuable minerals to be extracted profitably.</p><hr>
        
        <h1 id="p">P</h1>
        <h3>Patent</h3>
            <p>The ultimate stage of holding a mineral claim, after which no more assessment work is necessary because all mineral rights have been earned.</p><br>
        <h3>Pig Iron</h3>
            <p>Crude iron from a blast furnace.</p><br>
        <h3>Pit De-watering</h3>
            <p>The removal of water by pumping or evaporation to remove or drain groundwater or surface water from a site or mine shaft.</p><br>
        <h3>Placer</h3>
            <p>An alluvial deposit of sand and gravel containing larger pieces of gold or other minerals.</p><br>
        <h3>Portal</h3>
            <p>An entrance to a tunnel, drift or adit in a mine.</p><br>
        <h3>Prospect</h3>
            <p>A mining property, the value of which has not been determined by exploration; an excavation undertaken in search for ore.</p><br>
        <h3>Prospecting</h3>
            <p>The search for mineral deposits suitable for mining.</p><br>
        <h3>Pulp</h3>
            <p>Pulverized or ground ore in solution.</p><br>
        <h3>Pyrite</h3>
            <p>A yellow iron sulphide mineral, normally of little value. It is sometimes referred to as "fool's gold".</p><hr>

        <h1 id="q">Q</h1>
        <h3>Quartz</h3>
            <p>One of the most common of all rock-forming minerals and one of the most important constituents of the earth's crust. Quartz may be transparent, translucent, or opaque; it may be colorless to colored. It consists of silicon and oxygen.</p><hr>

        <h1 id="r">R</h1>
        <h3>Raise</h3>
            <p>A vertical or inclined underground working that has been excavated upward for connecting adjacent levels. The terms raise and winze are used interchangably to describe a completed opening.</p><br>
        <h3>Rake</h3>
            <p>A timber placed at an angle.</p><br>
        <h3>Reserve</h3>
            <p>Resources of coal, ore or minerals which can be mined profitably under existing conditions.</p><br>
        <h3>Resistivity Survey</h3>
            <p>A geophysical technique used to measure the resistance of a rock formation to an electric current.</p><br>
        <h3>Rock Bolting</h3>
            <p>The act of supporting openings in rock with steel bolts anchored in holes drilled especially for this purpose.</p><br>
        <h3>Rocker Box or Cradle</h3>
            <p>Like a sluice box, the rocker box has riffles in it to trap the gold. It was designed to be used in areas with less water than a sluice box. The process involves pouring water out of a small cup and then rocking the small sluice box like a cradle, thus the name rocker box or cradle.</p><hr>

        <h1 id="s">S</h1>
        <h3>Seismic Prospecting</h3>
            <p>A geophysical method of prospecting, utilizing knowledge of the speed of reflected sound waves in rock.</p><br>
        <h3>Shaft</h3>
            <p>A vertical or inclined excavation in rock for the purpose of providing access to an orebody. Usually equipped with a hoist at the top, which lowers and raises a conveyance for handling workers and materials.</p><br>
        <h3>Shaft Sinking</h3>
            <p>The activity of establishing a vertical or declined tunnel to obtain the precious metal and/or mineral.</p><br>
        <h3>Shaker Table</h3>
            <p>Like a giant gold pan, an engine drives a belt that vibrates a huge bucket.</p><br>
        <h3>Sheave Wheel</h3>
            <p>A large, grooved wheel in the top of a headframe over which the hoisting rope passes.</p><br>
        <h3>Shoot</h3>
            <p>A concentration of mineral values; that part of a vein or zone carrying values of ore grade.</p><br>
        <h3>Shrinkage Stoping</h3>
            <p>A stoping method which uses part of the broken ore as a working platform and as support for the walls of the stope.</p><br>
        <h3>Sill</h3>
            <p>An intrusive sheet of igneous rock of roughly uniform thickness that has been forced between the bedding planes of existing rock.</p><br>
        <h3>Skip</h3>
            <p>A self-dumping bucket used in a shaft for hoisting ore or rock.</p><br>
        <h3>Slag</h3>
            <p>The waste left as a residue by the smelting of metallic ore.</p><br>
        <h3>Slope Stability</h3>
            <p>The walls of a pit have a certain slope (stepped, benched or side) determined by the strength of the rock mass and other factors. The stability of these walls and even of individual benches and groups of benches, is very important particularly as the pit gets deeper. Increasing the pit slope angle by only a few degrees can decrease stripping costs tremendously or increase revenues through increased ore recovery.</p><br>
        <h3>Sludge</h3>
            <p>Rock cuttings from a diamond drill hole, sometimes used for assaying.</p><br>
        <h3>Sluice Box</h3>
            <p>Boxes or troughs through which gold-bearing gravel is washed. It was the most commonly used tool in mining other than the pan and shovel.</p><br>
        <h3>Smelting</h3>
            <p>Reducing the ores in furnaces to metals.</p><br>
        <h3>Square Set</h3>
            <p>A set of timbers used for support in underground mining.</p><br>
        <h3>Stalactite</h3>
            <p>A deposit, usually of calcium carbonate, shaped like an icicle, hanging from the roof of a cave or the like, and formed by the dripping of calcareous (containing calcium) water.</p><br>
        <h3>Stamp Mill</h3>
            <p>A mill or machine in which ore is crushed to powder by means of heavy stamps or pestles.</p><br>
        <h3>Station</h3>
            <p>An enlargement of a shaft made for the storage and handling of equipment and for driving drifts at that elevation.</p><br>
        <h3>Stockpile</h3>
            <p>Broken ore heaped on surface, pending treatment or shipment.</p><br>
        <h3>Stope</h3>
            <p>Any upward excavation made in a mine, esp. from a steeply inclined vein, to remove the ore that has been rendered accessible by the shafts and drifts.</p><br>
        <h3>Strike</h3>
            <p>The direction, or bearing from true north, of a vein or rock formation measure.</p><br>
        <h3>Stull</h3>
            <p>Platforms of timbers between levels for strengthening the mine by supporting the walls, and for storing ore and depositing wall rock and waste material.</p><br>
        <h3>Stull Timbers</h3>
            <p>The large timbers placed across the vein or lode from one wall to another, to support the lagging upon which the ore or waste is placed.</p><br>
        <h3>Sublevel</h3>
            <p>A level or working horizon in a mine between main working levels.</p><br>
        <h3>Sulphide Dust Explosions</h3>
            <p>An underground mining hazard involving the spontaneous combustion of airborne dust containing sulphide minerals.</p><br>
        <h3>Sulphur Dioxide</h3>
            <p>A gas liberated during the smelting of most sulphide ores; either converted into sulphuric acid or released into the atmosphere in the form of a gas.</p><br>
        <h3>Sump</h3>
            <p>An underground excavation where water accumulates before being pumped to surface.</p><hr>
        
        <h1 id="t">T</h1>
        <h3>Tailings</h3>
            <p>Refuse material resulting from the washing, concentration, or treatment of ore.</p><br>
        <h3>Tailings Dam</h3>
            <p>A dam used to store the waste byproducts or tailings produced during the process of extracting the valuable commodity/product from ore.</p><br>
        <h3>Tailings Pond</h3>
            <p>A low-lying depression used to confine tailings, the prime function of which is to allow enough time for heavy metals to settle out or for cyanide to be destroyed before water is discharged into the local watershed.</p><br>
        <h3>Trench</h3>
            <p>A long, narrow excavation dug through overburden, or blasted out of rock, to expose a vein or ore structure.</p><br>
        <h3>Tunnel</h3>
            <p>An approximately horizontal underground passage driven at right angles to the targeted vein of mineral.</p><hr>
        
        <h1 id="u">U</h1>
        <hr>

        <h1 id="v">V</h1>
        <h3>Vein</h3>
            <p>A fissure, fault or crack in a rock filled by minerals that have travelled upwards from some deep source.a fracture or crack in a rock that contains mineralised material. Aggregations of mineral matter in fissures of rocks.</p><hr>
        
        <h1 id="w">W</h1>
        <h3>Wall Rocks</h3>
            <p>Rock units on either side of an orebody. The hangingwall and footwall rocks of an orebody.</p><br>
        <h3>Whim</h3>
            <p>A winding machine used for hoisting ore out of a shaft.</p><br>
        <h3>Windlass</h3>
            <p>A device, smaller than a whim, used to raise ore from a shaft.</p><br>
        <h3>Winze or Wizen</h3>
            <p>A shaft sunk from one level to the other. a vertical or inclined shaft, driven downward from a drift into an ore body to another level. (see raise)</p><hr>

        <h1 id="x">X</h1>
        <hr>

        <h1 id="y">Y</h1>
        <hr>

        <h1 id="z">Z</h1>
        <hr>
    </div>
</div>

</main>
{% include footer.html %}
{% include foot.html %}
{% include scroll-to-top.html %}
</body>
</html>