<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}

</style>
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    <div class="container">
        {{ content }}
    </div>

<div class="container">
    <h1 style="text-align:center">Glossary</h1>
</div>

<div id="sticky" class="pagination">
    <a href="#a">A</a>
    <a href="#b">B</a>
    <a href="#c">C</a>
    <a href="#d">D</a>
    <a href="#e">E</a>
    <a href="#f">F</a>
    <a href="#g">G</a>
    <a href="#h">H</a>
    <a href="#i">I</a>
    <a href="#j">J</a>
    <a href="#k">K</a>
    <a href="#l">L</a>
    <a href="#m">M</a>
    <a href="#n">N</a>
    <a href="#o">O</a>
    <a href="#p">P</a>
    <a href="#q">Q</a>
    <a href="#r">R</a>
    <a href="#s">S</a>
    <a href="#t">T</a>
    <a href="#u">U</a>
    <a href="#v">V</a>
    <a href="#w">W</a>
    <a href="#x">X</a>
    <a href="#y">Y</a>
    <a href="#z">Z</a>
</div>
</div>

<div class="content" style="margin-top: 65px;">
    <h1 id="a">A</h1>
        <h3>Acid Mine Drainage</h3>
            <p>Acidic run-off water from mine waste dumps and mill tailings ponds containing sulphide minerals. Also refers to ground water pumped to surface from mines.</p><br>
        <h3>Adit</h3>
            <p>A horizontal or nearly horizontal underground passage coming to the surface at one end of a mine.</p><br>
        <h3>Aeromagnetic Survey</h3>
            <p>A geophysical survey using a magnetometer aboard, or towed behind, an aircraft.</p><br>
        <h3>Airborne Survey</h3>
            <p>A survey made from an aircraft to obtain photographs, or measure magnetic properties, radioactivity, etc.</p><br>
        <h3>Alluvial</h3>
            <p>of or pertaining to alluvium; alluvial soil.</p><br>
        <h3>Alluvium</h3>
            <p>a deposit of sand, mud, etc., formed by flowing water.</p><br>
        <h3>Anomaly</h3>
            <p>Any departure from the norm which may indicate the presence of mineralization in the underlying bedrock.</p><br>
        <h3>Apex</h3>
            <p>The top or terminal edge of a vein on surface or its nearest point to the surface.</p><br>
        <h3>Assay Foot (Meter, Inch, Centimeter)</h3>
            <p>The assay value multiplied by the number of feet, metres, inches, centimetres across which the sample is taken.</p><br>
        <h3>Assay Map</h3>
            <p>Plan view of an area indicating assay values and locations of all samples taken on the property.</p><br>
        <h3>Assay (Noun)</h3>
            <p>A chemical test performed on a sample of ores or minerals to determine the amount of valuable metals contained.</p><br>
        <h3>Assay (Verb)</h3>
            <p>To analyze (an ore, alloy, etc.) in order to determine the proportion of gold, silver, or other metal in it.</p><br>
        <h3>Assessment Work</h3>
            <p>The amount of work, specified by mining law, that must be performed each year in order to retain legal control of mining claims.</p>
        
        <h1 id="b">B</h1>
        <h3>Back</h3>
            <p>The ceiling or roof of an underground opening.</p>
</div>

</main>
{% include footer.html %}
{% include foot.html %}
{% include scroll-to-top.html %}
</body>
</html>