<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    <div class="container">
        {{ content }}
    </div>

    <main id="maincontent" role="main" class="flex-shrink-0">
        <div class="container">
        <div class="card mb-9">
            <h2 style="text-align:center">When creating a new collection, please follow each of the steps in gray. For adding items to a collection, please follow the steps in green below.</h2>
                <a class="btn btn-secondary btn-lg btn-block" href="#setup" role="button">Getting Set Up</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#serving" role="button">Serving your Website</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#metadata" role="button">Creating Metadata</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#open" role="button">Opening Collection in Text Editor</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#config" role="button">Config.yml File</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#theme" role="button">Theme.yml File</a>
                <a class="btn btn-success btn-lg btn-block" href="#addmetadata" role="button">Adding Metadata</a>
                <a class="btn btn-success btn-lg btn-block" href="#objects" role="button">Adding Objects</a>
        </div><hr><br>
        
<div class="container">
  <h2 id="setup">How to Get Set Up</h2>
    <div class="alert alert-info" role="alert">
                For general info about this, see the <a href="https://collectionbuilder.github.io/cb-docs/" target="_blank"><b>CollectionBulder docs</b></a>. Make sure to follow instructions for SA users and ignore instructions for GH and Skin.
    </div>
  <div class="alert alert-danger" role="alert">
              Make sure you have all of the <a href="https://collectionbuilder.github.io/cb-docs/docs/software/" target="_blank"><b>software installed</b></a> for the next steps, especially <a href="https://desktop.github.com/" target="_blank"><b>Github Desktop</b></a>.
  </div>
  <ol>
    <li>Clone the Master branch, if you haven't already. If you have already done this when making a different collection, you do not have to do this again. Go to <a href="https://github.com/cc3199/mbmg-master" target="_blank"><b>the MBMG Github Master code.</b></a> Then you will go to the "code" dropdown and select "Open in Github Desktop". Ensure you have Github Desktop installed before completing this step.
      <img class="rounded mx-auto d-block" src="{{ '/objects/clone master.jpg' | absolute_url }}"><br>
      This will then bring up Github Desktop and a prompt will ask where you want the files to be saved. Ususally the default location is fine, but, if the default location does not suit your organization style, you may select a different location and then select "ok."<br>
      <div class="alert alert-info" role="alert">
      By the way, the master code is a template of sorts for all other collections. Do not edit the master code unless something needs to be changed across ALL collections. You will be creating "branches" that come from the master code and edits unique to that branch will remain in that branch. It will not affect other collections in other branches. For more information about how GitHub branches work, see their <a href="https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-branches" target="_blank"><b>documentation.</b></a>
      </div>
    </li><br>
                
    <li>Once you have cloned the master, it will auto-open in Github Desktop. Then, you'll create a branch based off the master code. To do this, make sure you are in the mbmg-master repository, then move slightly to the right to select a dropdown menu under "current branch". In this dropdown menu, you will see all of the existing branches, or collections, created from the mbmg-master. To create a new one, type the name of your collection in the typing box at the top and then select "New Branch."
    <br>
      <img class="rounded mx-auto d-block" src="{{ '/objects/new branch.jpg' | absolute_url }}">
    </li><br>
      
    <li>Now you will have a new branch based from the mbmg-master where you will have your collection. Your Github Desktop should look like this:<br>
      <img class="rounded mx-auto d-block" src="{{ '/objects/publish branch.jpg' | absolute_url }}"><br>
    Make sure to "Publish branch," which will save it to Github online where it will be viewable online and will be saved in multiple places for security.</li><br>
    </ol>
    <div class="alert alert-success" role="alert">That's it! You now have an MBMG template for your collection. The next part will walk through opening the files in your text editor to then be able to customize your collection.</div>
    <hr>
</div>

<div class="container">
  <h2 id="serving">How to Serve Your Website</h2>
  <p>With your project repository copied to your local machine, you can use Jekyll to generate and serve your site on a local development server. The complete website will be available to use in your browser as if it is on the live web–but it is only on your local computer.<br>

    This is great for iterative development, allowing you to test changes and see what happens!<br>
    
    With a fresh copy of a CollectionBuilder template, you should be able to test out your Jekyll set up without making any changes to the code, generating the demo collection using the commands below.<br>
    
    Once you start adding your own content, configuring, and customizing, you will follow exactly the same method to start the dev server to view your project.</p>

  <h3>Open Terminal</h3>
  <p>To give commands to Jekyll, you will need to have a terminal open in the root of your project folder. Editors like VS Code can open a full folder and provide an integrated terminal to make working on a Jekyll project easier.<br>

    If you are using VS Code, open your project repository folder with the editor. Use the keyboard shortcut <code>Ctrl + `</code> (control + backtick “ ` “, the key left of “1” shared with “~”) to open and close the integrated terminal, or click the “View” menu and select “Terminal”. On Windows, please ensure you are using Git Bash (not PowerShell or CMD).</p>

  <h3>Bundle Install (1st Time Only)</h3>
    <p>The first time you use this project folder on this computer, type the command: <code>bundle install</code>.<br>
      Bundler will check the project’s “Gemfile”, install any missing dependencies, and create a “Gemfile.lock” listing the exact Gems set up for this project. You will see a bunch of output in your terminal window and if this is the first time bundling it may take awhile to finish. Once complete your terminal prompt will return.<br>

      Although it seems complicated at first, using Bundler helps avoid dependency issues on your system. The “Gemfile.lock” keeps the dependencies consistent to help reproduce the specific environment you are developing in.</p>

  <h3>Jekyll Serve</h3>
  <p>The “jekyll serve” command will start the dev server and generate your site, rebuilding each time you save a file in the project folder. Using the prefix <code>bundle exec </code>ensures that you are using the exact setup recorded in the project’s “Gemfile.lock” (hopefully avoiding dependency issues unexpectedly breaking things).<br>
    With a terminal (integrated or not) open in your project folder follow these steps:<br>
    <ol>
    <li>Type the command <code>bundle exec jekyll s</code> and press enter.</li>
    <li>In the terminal you’ll see some text appear (messages from Jekyll), including a URL that appears after the title “Server address:”</li>
    <li>Hold down Ctrl / Command and click the link to open the site in your browser, or copy the URL and paste it into a browser (we recommend doing this in a private window).</li>
    <li>When you’re ready to end your Jekyll session, click into the terminal, then type Ctrl + C. This stops the server from running. (This is how to close most command line programs, not just Jekyll!)</li>
    </ol>
    Tip: always check your terminal for messages. The error messages can be intimidating and confusing–but do often contain useful information!<br>
    
    The “CollectionBuilder Page Generator” plugin creates item pages from your metadata while Jekyll is running. It provides information in the terminal that might help debugging your metadata.<br>
    
    When you are ready to build the final version of your site to deploy, the command is a bit different–see <a href="/deploy.html"><b>Jekyll Build</b></a>.</p><hr>
</div>

<div class="container">
  <h2 id="metadata">Creating Metadata</h2>
  <p>The metadata is the most important file for CollectionBuilder. The site will not load images or documents from your collection without it. Also, if you find any errors in the website such as a misspelling or an image not loading, it is most likely going to be due to an error in the metadata.</p>
  <p>The metadata file is basically a spreadsheet that describes all of the info about each object within the collection.If an object is properly described within this metadata file, it will appear in the website, and will it be searchable. Carefully follow the steps <a href="https://collectionbuilder.github.io/cb-docs/docs/metadata/" target="_blank"><b>here</b></a> to create metadata for your collection, and remember to follow any special instructions for SA users!</p>
  <div class="alert alert-info" role="alert">
  If you don't need to create a new metadata file and add metadata content to an existing file instead, please see the instructions on this page about <a href="{{ '/mbmgmodifications.html#addmetadata' | absolute_url }}"><b>adding to existing metadata.</b></a>
</div><hr>
</div>

<div class="container">
    <h2 id="open">Opening Collection In Text Editor</h2>
    <p>In GitHub Desktop, navigate to the "Repository" tab at the top, and then select "Open in Text-Editor". It may also say "Open in Visual Studio Code" or name your default text editor. After selecting this, it will bring up your collection web files and you can begin editing.</p>
    <img class="rounded mx-auto d-block" src="{{ '/objects/open in text.jpg' | absolute_url }}">
    <hr><br>
</div>
  
<div class="container">
      <h2 id="config">Modifications to Config.yml File</h2>
      <div class="alert alert-warning" role="alert">
        For general info about this file, see the <a href="https://collectionbuilder.github.io/cb-docs/docs/config/" target="_blank"><b>CollectionBulder docs</b></a>
      </div>
        <ol>
          <li>To begin, locate and open the _config.yml file in the base of your repository. No matter which version you’re using, this file is used to configure the basics of your site.
            <img class="rounded mx-auto d-block" src="{{ '/objects/locate config.jpg' | absolute_url }}">
          </li><br>

          <li>The first section titled "URL Variables" will <b>NOT</b> need to be changed. The following section titled "Site Settings" is where the primary changes will be made in this file. Make sure to delete the existing template text in red, and replace it with your own. 
            <ul>
              <li><b>Title:</b> The title of your collection. This will appear as the title on the home page and on each page's header. </li>
              <li><b>Tagline:</b> A subtitle of sorts. This will appear underneath the title on the homepage and each page's header.</li>
              <li><b>Description:</b> A couple of sentences or a paragraph briefly describing the collection. This appears on the home page under the featured banner image.</li>
              <li><b>Author:</b> You may add your name to the MBMG or simply leave as MBMG.
              <li><b>Keywords:</b> Enter a few keywords that match your collection separated by a semicolon, such as montana;geology;photographs; etc.</li>
            </ul>
            <div class="alert alert-danger" role="alert">
              The organization name, link, logo-banner, and logo-nav DO NOT need to be changed. This has already been entered in correctly for MBMG use.
            </div><br>
            <img class="rounded mx-auto d-block" src="{{ '/objects/site settings.jpg' | absolute_url }}">
          </li><br>

          <li>The following section titled "Collection Settings" only has two components that need to be configured, both dealing with metadata.The first one titled 'metadata' should be changed to the filename of the metadata document created in an earlier step. Be sure to not include the file extension (which should be .csv). <br>
          Second, under "page_gen," next to "data", again replace the demo metadata with the metadata filename that you created.
          <img class="rounded mx-auto d-block" src="{{ '/objects/collection settings.jpg' | absolute_url }}">
        </li>
        </ol>
        <hr>
    </div>

<div class="container">
  <h2 id="theme">Modifications to the theme.yml file</h2>
    <p>This file deals mostly with the appearances and images that are displayed on the web pages as well as many other edits. Please follow the <a href="https://collectionbuilder.github.io/cb-docs/docs/theme/" target="_blank">CollectionBuilder documentation</a> for help with this file. Reminder to follow any special instructions for SA users.</p>
      <div class="alert alert-info" role="alert">
        The map page coordinates and zoom should be set to have all of Montana as front and center. This should work for most collections. If your collection should be more localized or it features items in another location, follow CollectionBuilder instructions to change.
      </div><br>
      <img class="rounded mx-auto d-block" src="{{ '/objects/theme.jpg' | absolute_url }}">
  <hr><br>
</div>

<div class="container">
  <h2 id="addmetadata">Adding to Existing Metadata</h2>
  <ol>
    <li>First, make sure that your collection is <a href="/mbmgmodifications.html#open"><b>open in VS Code</b></a>, or whichever text editor you prefer to use.</li>
    <li>The easiest way to add metadata is to open the metadata file into a program such as Excel. First, locate your metadata file in your text editor. In this case, the metadata file is the demo-metadata. Right click on the file and select to "Reveal in File Explorer."
      <img class="rounded mx-auto d-block" src="{{ '/objects/locate metadata.jpg' | absolute_url }}"><br>
    This will open your collection files, specifically the "_data" folder where all of the .csv files are stored. Again, locate your collection metadata file and choose to open it in Excel, or other spreadsheet program you are familiar with.
      <img class="rounded mx-auto d-block" src="{{ '/objects/open in excel.jpg' | absolute_url }}"><br>  
    </li>

    <li>Once the file is open, you will see what metadata has already been entered for the previous objects. Follow the same format and patterns as the existing data for your new data. If you need a refresher as to what data is necessary and how to enter it in, see the <a href="https://collectionbuilder.github.io/cb-docs/docs/metadata/" target="_blank"><b>CollectionBuilder documentation</b></a>.
    </li>
  </ol>
</div><hr><br>

<div class="container">
  <h2 id="objects">Adding Objects</h2>
  <ol>
    <li>When adding your collection objects to CollectionBuilder, ensure all of your files match your metadata especially in the "type" and "format" columns, otherwise the objects will display properly on the website. Take all of you collection files and copy and paste them in to the "objects" folder. Your files should be OUTSIDE the "small" and "thumbs" folder. Those will come into play next. Feel free to delete the demo objects; they are solely for demonstration.
      <img class="rounded mx-auto d-block" src="{{ '/objects/objects.jpg' | absolute_url }}">
    </li><br>

    <li>Next, you will be duplicating the objects into the "small" and "thumbs" folders. Luckily, all of the <a href="/softwareinstall.html"><b>software dependencies</b></a> installed earlier will do all of this for you with a simple script. First, open the terminal in your text editor. In Visual Studio Code, navigate to the "View" tab and down to "Terminal."
      <img class="rounded mx-auto d-block" src="{{ '/objects/terminal.jpg' | absolute_url }}"><br>

    Then, in the terminal, type <code>rake generate_derivatives</code>. This will take all of your objects and move them into the "small" and "thumbs" folders while putting them into the correct format as well. It will take a moment up to a few minutes depending on how many objects you put in. This will only work if your file names properly match the filenames in the metadata. Watch the terminal as it will tell you if any objects failed to convert. If any did fail, double check that your file names match what is entered into the metadata.
    </li>
  </ol>
  </div><hr><br>

</main>
{% include footer.html %}
{% include foot.html %}
{% include scroll-to-top.html %}
</body>
</html>
