<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    <div class="container">
        {{ content }}
    </div>

    <main id="maincontent" role="main" class="flex-shrink-0">
        <div class="container">
        <p>When creating the metadata for your collection, the information can be borrowed from an existing Access database that may have been used for the MBMG website. Copying and pasting from the Access database to the Excel is a quick way of transferring the data to the proper file; however, there may be capitalization problems such as being in all-caps or all lower-caps. No sweat, just transfer the data and there are shortcuts to changing it all at once at the end.</p>
        <ol>
          <li></li>
        </ol>



</main>
{% include footer.html %}
{% include foot.html %}
{% include scroll-to-top.html %}
</body>
</html>