<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    
    <div class="container">
        <h1>Photoshop Tips and Tricks</h1>

        {{content}}

    </div>

    <div class="container">
        <table class="table table-hover" style="width: 100%">
            <thead>
                <tr>
                  <th>Link to Documentation</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="filecleaning.html" class="btn btn-info" role="button">File Cleaning</a></td>
                  <td>Some Photoshop actions are used consistently to clean and optimize scanned documents and maps. Review techniques for changing image size, improving legibility and alignment, and properly saving files.</td>
                </tr>
                <tr>
                  <td><a href="extras.html" class="btn btn-info" role="button">Extra Photoshop Pointers</a></td>
                  <td>Expand you Photoshop skills with some less frequently used and more advanced tools to optimize more challenging documents and maps.</td>
                </tr>
                <tr>
                  <td><a href="photoshopexamples.html" class="btn btn-info" role="button">Photoshop Tool Examples</a></td>
                  <td>Access further examples of photoshop tools in action here.</td>
                </tr>
                <tr>
                  <td><a href="documentprocedures.html#tojpg" class="btn btn-info" role="button">Scripts and Macros</a></td>
                  <td>Macros and Scripts in Photoshop are simple to create and apply the same commands to multiple documents. Learn how to create and use Macros to easily and quickly edit a set of documents or maps.</td>
                </tr>
              </tbody>
            </table>
    </div>

    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>
