<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    
    <div class="container">

        {{content}}

    </div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <h2 class="text-white">File Cleaning Techniques</h2>
        <a href="#lasso">Lasso Tool</a>
        <a href="#selection">Selection Tools</a>
        <a href="#healingbrush">Healing Brush</a>
        <a href="#spotheal">Spot Heal and Patch</a>
        <a href="#dodgeburn">Dodge, Burn, Clone</a>
    </div>

      <span style="font-size:30px;cursor:pointer" onclick="openNav()"><i class="material-icons" style="font-size:48px;color:black">menu</i></span>
  
      <div id="main">

        <h1 style="text-align:center">Photoshop File Cleaning Examples</h1><hr>

        <div class="container">
            <h2 id="lasso">Lasso Tool</h2>
        <iframe src="objects/Lasso Tool.pdf" width="100%" height="800px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="selection">Various Selection Tools</h2>
        <iframe src="objects/Various Selection Tools.pdf" width="100%" height="800px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="healingbrush">Healing Brush</h2>
        <iframe src="objects/Healing Brush.pdf" width="100%" height="800px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="spotheal">Spot Healing and Patch Tool</h2>
        <iframe src="objects/Spot Healing and Patch Tool.pdf" width="100%" height="800px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="dodgeburn">Dodge, Burn, and Clone Stamp</h2>
        <iframe src="objects/Dodge, Burn, and Clone Stamp.pdf" width="100%" height="800px"></iframe>
        </div><hr><br>

    </div>

    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
        }
    
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;
    
        for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
        } else {
        dropdownContent.style.display = "block";
        }
        });
        }
        </script>
    
    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>
