<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}

</style>
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    <div class="container">
        {{ content }}
    </div>

    <span id="menubutton" class ="sticky-top pt-3" style="font-size:30px;cursor:pointer" onclick="openNav(); hidemenu()"><i class="material-icons" style="font-size:48px;color:black">menu</i></span>

    <div id="mySidenav" class="sidenav">
      <span id="menubutton" style="font-size:30px;cursor:pointer" onclick="closeNav(); showmenu()"><i class="material-icons" style="font-size:48px;color:white">close</i></span>
      
        <h2 class="text-white">Procedures</h2>
        <a href="/collections.html">Collections</a>
        <a href="/assessment.html">Assessment</a>
        <button class="dropdown-btn">Preservation 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a href="/scanning.html">Scanning</a>
            <a href="/metadata.html">Metadata</a>
            <a href="/preservation.html">Preservation</a>
          </div>
        <a href="/labels.html">Labels</a>
        <a href="/students.html">Students</a>
        <a href="/forms.html">Forms</a>
        <a href="/references.html">References</a>
      </div>

    <div id="main">
      <h1 class="text-center">References</h1><hr><br>

      <div class="container">
        <button class="accordion"><b>Information Requests</b></button>
        <div class="panel">
            <a href="objects/Information request referral list.pdf" target="_blank"><u>Information Request Referral List</u></a><br>
            <a href="objects/Data Preservation Check Out Procedures.pdf" target="_blank"><u>Document Check Out Procedure</u></a><br>
            <a href="objects/Anaconda Stack Brochure.pdf" target="_blank"><u>Anaconda Stack Brochure</u></a><br>
            <a href="objects/how-stake-claim.pdf" target="_blank"><u>How to Stake a Claim</u></a><br>
            <a href="objects/plsstutorial.pdf" target="_blank"><u>Tutorial on Public Land Survey System Descriptions</u></a><br>
            <a href="objects/Understanding Mineral Rights.pdf" target="_blank"><u>Understanding Mineral Rights</u></a><br>
            <a href="objects/diagram.jpg" target="_blank"><u>Basic Township, Range, Section Diagram</u></a><br><hr><br>

            <div class="container">
              <h2>General Information Request Process</h2>
              <h3>SQL Database</h3>
                <p>This has the information for our county property files, county and collection map files, and claim files. Usually we would look into both property files (pf table) and map files (mf).<br>
                The claim files (claim main) have basic information about claims that appear, however nominally, in other files (mostly maps). These have primarily geolocation information. We don’t tend to start a search from this table.</p>
              <h4>-Searching the pf table</h4>
                  <p>Typically we search “any part of field” to allow for the variants that might occur in either the naming or the entering of the name. If you are starting with a name of a mine:<br>
                  You can begin refining by county, especially if it is a very common mine name like Copper Queen<br>
                  The mining claim field is the field for the mine name.  In addition to searching here for a name, you will want to look at associated names.<br>
                  Inquiries sometimes start with TRS information.<br>
                  Using Selection will help refine the search.<br></p>
              <h4>-Searching the mf table</h4>
                  <p>Tony includes the property or the collection in the mine name. This hasn’t always been true, so you might have to use geolocation information from claim main or pf.<br>
                  Otherwise, the search process is similar to property files.</p>
              <h3>Publications Search</h3>
                <p>In the Historic folder on the mining archives server, open Publications folder. The database “NU-PubListing” will help locate publications from MBMG and other agencies located in our building. The Billings office also has a library.<br>
                Our libraries in the NRB are located in our office (217), in Kaleb Scarberry’s office (209) or upstairs across the hall from GWIC.</p>
              <h3><a href="https://glorecords.blm.gov/"><u>BLM GLO</u></a></h3>
                <p>This is a good site to check for images of original documents and maps.</p><br>

              <p><b>*Files are located at \\mbmgs1a\Historic\Information Requests References</b> (as of July 2021)</p><hr>
            </div>
            
            <div class="container">
              <h2>Montana Hard Rock Mining Information</h2>
              <p>To find "Closed Claims" go <a href="https://www.blm.gov/lr2000/"><u>here</u></a>. There is a tutorial about how to use this site.</p>
              <p>To look for township, rangd and section for a claim, please use the <a href="http://svc.mt.gov/msl/mtcadastral/"><u>Montana Cadastral</u></a> site.</p>
              <p>To view information about specific claims patents, view the <a href="https://glorecords.blm.gov/"><u>GLO Records.</u></a></p>
              <p>Montana <a href="https://deq.mt.gov/mining/assistance"><u>Department of Environmental Quality</u></a> regulates mining in the state.</p>
              <p>Another resource to locate information about <a href="www.mindat.org/"><u>mining and minerology.</u></a> Also connecting with your local mineral clubs will help you learn more about mining opportunities in your ares.</p>
              <h4>Useful Montana Bureau of Mines and Geology Publications/Sales</h4>
                <a href="http://mbmg.mtech.edu/mbmgcat/public/ListCitation.asp?pub_id=11705&" target="_blank"><u>Applied Gold Placer Exploration and Evaluation Techniques</u></a><br>
                <a href="http://mbmg.mtech.edu/mbmgcat/public/ListCitation.asp?pub_id=11696&" target="_blank"><u>Montana Placer Mining BMPs (Best Management Practices): Guidelines for Planning, Erosion Control, and Reclamation</u></a><br>
                <a href="http://mbmg.mtech.edu/mbmgcat/public/ListCitation.asp?pub_id=11597&" target="_blank"><u>Gold placers of Montana (reprinted 1987)</u></a><br>
                <a href="http://mbmg.mtech.edu/mbmgcat/public/ListCitation.asp?pub_id=31115&" target="_blank"><u>Resources for Placer Mining</u></a><br><hr>
            </div>

            <div class="container">
              <h2>Mineral Water Rights Ownership</h2>
                <p>To find out ownership of mineral/water rights, contact the clerk and recorder office of the county.</p><hr>
            </div>

            <div class="container">
              <h2>Helpful Websites Index</h2>
                <p>
                  <a href="http://svc.mt.gov/msl/mtcadastral/" target="_blank"><u>Montana Cadastral</u></a><br>
                  <a href="https://www.earthpoint.us/TownshipsSearchByDescription.aspx" target="_blank"><u>Earthpoint</u></a><br>
                  <a href="http://www.bogc.dnrc.mt.gov/WebApps/DataMiner/" target="_blank"><u>Montana Board of Natural Gas & Oil</u></a><br>
                  <a href="https://geonames.usgs.gov/apex/f?p=138:1::::::" target="_blank"><u>USGS Features Locator</u></a><br>
                  <a href="https://viewer.nationalmap.gov/basic/?basemap=b1&category=ustopo&title=US%20Topo%20Download" target="_blank"><u>USGS Maps</u></a><br>
                  <a href="https://tagis.dep.wv.gov/convert/" target="_blank"><u>Convert to WGS84</u></a><br>
                  <a href="https://digitalsanbornmaps.proquest.com/about?accountid=18724" target="_blank"><u>ProQuest Digital Sanborn Maps</u></a><br>
                  <a href="https://cool.culturalheritage.org/topics.html" target="_blank"><u>Data Preservation & Conservation Information</u></a><br>
                  <a href="https://www.nedcc.org/free-resources/preservation-leaflets/4.-storage-and-handling/4.9-storage-solutions-for-oversized-paper-artifacts" target="_blank"><u>Northeast Document Conservation Center</u></a><br>
                  <a href="https://www.loc.gov/preservation/about/conserv/storage/rolled.html" target="_blank"><u>Library of Congress Information</u></a><br>
                  <a href="https://www.ngs.noaa.gov/NCAT/" target="_blank"><u>NGS Coordinate Conversion and Transformation Tool</u></a><br>
                  <a href="http://www.rcn.montana.edu/resources/converter.aspx" target="_blank"><u>Montana State University Geographic Unit Converter</u></a><br>
                  <a href="https://www.google.com/earth/versions/" target="_blank"><u>Download Google Earth Pro</u></a><br>
                  <a href="https://publications.newberry.org/ahcbp/pages/Montana.html" target="_blank"><u>Atlas of Historical County Boundaries</u></a><br>
                  <a href="https://glorecords.blm.gov/search/default.aspx" target="_blank"><u>BLM General Land Office Records</u></a><br>
                  <a href="https://earthexplorer.usgs.gov/" target="_blank"><u>USGS Aerial Photo Search</u></a><br>
                  <a href="https://digital.library.unt.edu/" target="_blank"><u>University of North Texas Library</u></a><br>
                  <a href="https://pubs.er.usgs.gov/" target="_blank"><u>USGS Publications</u></a><br>
                  <a href="https://www.hathitrust.org/" target="_blank"><u>Hathi Trust Digital Library</u></a><br>
                  <a href="https://chroniclingamerica.loc.gov/" target="_blank"><u>Library of Congress, Chronicling America</u></a><br>
                  <a href="http://sales.wsgs.wyo.gov/" target="_blank"><u>Wyoming State Geological Survey Publications</u></a><br>
                  <a href="https://archive.org/" target="_blank"><u>Internet Archive</u></a><br>
                  <a href="https://www.archives.gov/research/guide-fed-records/groups/070.html" target="_blank"><u>National Archives</u></a><br>
                  <a href="http://www.mbmg.mtech.edu/mbmgcat/catMain.asp" target="_blank"><u>Montana Bureau of Mines and Geology Publications</u></a><br>
                  <a href="https://www.usgs.gov/centers/nmic/mineral-industry-montana" target="_blank"><u>USGS National Minerals Information Center</u></a><br>
                  <a href="https://mrdata.usgs.gov/" target="_blank"><u>USGS Mineral Resources Online Spacial Data</u></a><br>
                  <a href="https://thediggings.com/usa/montana" target="_blank"><u>Montana Diggings</u></a><br>
                  <a href="https://www.mindat.org/min-52454.html" target="_blank"><u>Commodity Information</u></a><br>
                  <a href="https://mrdata.usgs.gov/" target="_blank"><u>USGS Mineral Resources Online Spacial Data</u></a><br>
                  <a href="https://mrdata.usgs.gov/" target="_blank"><u>USGS Mineral Resources Online Spacial Data</u></a><br>
                </p>
            </div>
        </div>
        
        <button class="accordion"><b>Internal Publications</b></button>
        <div class="panel">
          <a href="objects/MBMGAuthorGuide2019_Book.pdf" target="_blank"><u>MBMG Author's Guide</u></a><br>
          <a href="objects/Data Preservation Plan.pdf" target="_blank"><u>Data Preservation Plan</u></a><br>
        </div>
        
        <button class="accordion"><b>Hiring and Onboarding Procedures</b></button>
        <div class="panel">
            <a href="/Onboarding Procedures" target="_blank"><u>Onboarding Procedures</u></a><br>
        </div>
      



      
    <script>
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
      }

      function hidemenu() {
      document.getElementById("menubutton").style.visibility = "hidden";
      }

      function showmenu() {
      document.getElementById("menubutton").style.visibility = "visible"; 
      }

      var dropdown = document.getElementsByClassName("dropdown-btn");
      var i;

      for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
      } else {
      dropdownContent.style.display = "block";
      }
      });
      }

      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
       panel.style.maxHeight = null;
       } else {
       panel.style.maxHeight = panel.scrollHeight + "px";
      } 
  });
  }
      </script>



    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
    </body>
    </html>