<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    <div class="container">
        <h1 style="text-align:center">Scripts and Macros Tutorials in Photoshop</h1>
            <p style="text-align:center"><a href="#pdftojpg">How to Batch Convert PDF to JPG</a></p>
            <p style="text-align:center"><a href="#tifftojpg">How to Batch Convert TIFF to JPG</a></p>
            <p style="text-align:center"><a href="#batchedits">How to Conduct Batch Edits to JPGs</a></p>
    </div>
    <hr>

<div class="container">
    <h2 id="pdftojpg">How to Batch Convert PDF to JPG</h2>
    <ol>
        <li>Go to Windos>Actions and select the new action icon in the little actions window. Name your action something you will remember for said action, such as Pdf to Jpg.
            <img src="{{ '/objects/pdf-batch_1.jpg' | absolute_url }}"></li><br>
        
        <li>Make sure the record button is red, meaning it is recording. Then open a file in Photoshop that you wish to convert. Convert the file manually as you normally would (File>Save As and named properly with file extension as PDF and saving to the folder you wish to save it to). Then close your document (don’t close photoshop). Also, don’t stop recording until after you have closed your document.</li><br>
        
        <li>In Photoshop, go to Window>Actions and stop recording by selecting the square icon in the little actions window.
            <img src="{{ '/objects/pdf-batch_2.jpg' | absolute_url }}"></li><br>
        
        <li>Now you’re going to run the script you just recorded that will be applied to the rest of the files you wish to convert. Go to File>Scripts>Image Processor.
            <img src="{{ '/objects/pdf-batch_3.jpg' | absolute_url }}"></li><br>
        
        <li>The image processor has four steps:</li>
        <img src="{{ '/objects/pdf-batch_4.jpg' | absolute_url }}"><br>
            <ol>
                <li>Select the images to process: select the folder that you want Photoshop to batch file convert.</li>
                <li>Select location to save processed images: select the folder that you want Photoshop to save the converted files.</li>
                <li>File type: select save as JPEG as it is selected by default. Then check the box ‘Resize to Fit’. You can then fill out the boxes that allow you to set the pixel dimensions that you want your converted files to be.</li>
                <li>Preferences: select ‘Run Action’ and then select the action that you recorded in the previous steps. Deselect the box ‘Include ICC Profile’.</li>
            </ol><br>
        
        <li>Select ‘Run’ and let Photoshop do all of the work for you!</li>
    </ol>
</div>
    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>