<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    <div class="container">
        {{ content }}
    </div>

    <main id="maincontent" role="main" class="flex-shrink-0">
        <div class="container">
        <div class="card mb-9">
            <h1 style="text-align:center">Steps to setting up and installing software necessary for building collections in CollectionBuilder. You will have to follow each step carefully.</h1>
            <br>
        <div class="container">
            <h2 id="texteditor">Installing the Software</h2>
            <div> Please follow all of the instructions in the window below for installing software. Be sure to go through all of the tabs in the side navigation bar to install everything necessary. This includes the software installation under the 'Optional Software' tab.
            </div>
            <div class="alert alert-danger" role="alert">
                When following the CollectBuilder documentation, follow instructions for Stand-Alone (or SA) users. Ignore instructions for GH or Skin users.
            </div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://collectionbuilder.github.io/cb-docs/docs/software/" allowfullscreen></iframe>
              </div>
        </div>

    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
  </body>
</html>