<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    <div class="container">
        {{ content }}
    </div>
    
    <main id="maincontent" role="main" class="flex-shrink-0">
        <div class="container">
        <div class="card mb-9">
            <h2 style="text-align:center">Follow links below for staff procedures.</h2>   
                <a class="btn btn-secondary btn-lg btn-block" href="#filenaming" role="button">File Naming Instructions</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#pdfa" role="button">PDF/A Instructions</a>
                <a class="btn btn-secondary btn-lg btn-block dropdown-toggle text-white" type="button" id="dropdownMenurButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Procedures</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#mission">Mission</a>
                        <a class="dropdown-item" href="#appraisal">Appraisal and Acquisition</a>
                        <a class="dropdown-item" href="#collections">Collections</a>
                        <a class="dropdown-item" href="#labels">Labels</a>
                    </div>
        </div><hr><br>
        

        <div class="container">
            <h2 id="filenaming">File Naming Instructions</h2>
        <iframe src="objects/File Naming Instructions.pdf" width="100%" height="1000px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="pdfa">PDF/A Instructions</h2>
        <iframe src="objects/PDFA Guide.pdf" width="100%" height="1000px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="mission">Mission Statement</h2>
            <p>In 1919, the Montana Legislature created the Montana Bureau of Mines and Geology (MBMG or Bureau).  The Bureau’s mission is to collect, maintain, manage, and preserve information having enduring historic, research, and informational value, make the information available to the public, and dispose information whose enduring value has expired.<br><br>
            The Montana Bureau of Mines and Geology collects geologic and mineral, specimens, geologic, hydrologic, seismic, and mining-related historical photographs, reports, and analysis pertaining to the State of Montana.<br><br>
            MBMG created a data preservation program and Archives department that assesses, acquires, organizes, restores, and preserves historic mining, geologic, hydrogeologic, mineral, and seismic information pertaining to the state of Montana.  The MBMG Data Preservation Program makes this information available to the public, in both physical and electronic formats for education and research purposes.
            </p><hr><br>
        </div>
        
        <div class="container">
            <h2 id="appraisal">Appraisal and Acquisition</h2>
            <p>The MBMG Archives evolved from donations of mining- and geology-related information from agencies, individuals, or organizations. MBMG recognizes that its collections are unique and irreplaceable and devotes resources to sustain a welcoming repository for donations of this information and promote its preservation, promotion, and use.<br><br>
            The MBMG will make every reasonable effort to identify endangered collections that are appropriate additions to its existing collections. Such efforts will include collaboration with mining companies, regulatory agencies, museums, historical societies, professional associations, and the public through print and electronic media and promotional events.<br><br>
            The types of information collected by the MBMG Archives include, but are not limited to, mining and geologic-related maps, books, reports, photographs, geophysical logs, aerial photos, core samples, survey and mining claim documents, field notes, correspondence, and mineral samples.  The Bureau may acquire materials and/or specimens through donations from the public or private sectors, purchase or development by the MBMG itself.  All acquisitions will comply with the policies and procedures of the Montana Tech Foundation.<br><br></p>

            <h3>Collection Assessment Guidelines</h3>
            <h4><i>Physical Data</i></h4>
                <p>The MBMG will consider the following guidelines when acquiring, retaining, or disposing new physical data for its collections. The materials must:</p>
                    <ol>
                        <li>pertain to the state of Montana;</li>
                        <li>not be already available in the collections;</li>
                        <li>not be available from the other libraries or archives;</li>
                        <li>add to the body of knowledge encompassed by the collections;</li>
                        <li>revise or correct early versions of the materials in the collections;</li>
                        <li>be in better physical condition than existing identical materials;</li>
                        <li>represent rare, historically significant, unique, or Montana-specific specimens or material pertaining to those areas of Montana geology.</li>
                    </ol>

            <h4><i>Digital Data</i></h4>
                <p>Digital materials are subject to the same acquisition guidelines as physical collections received by the MBMG. Additionally, acceptance of digital collections will be subject to:</p>
                    <ol>
                        <li>Media condition—media that has been damaged and is illegible will not be accepted;</li>
                        <li>Availability of technology to access the digital data—the MBMG will make a good faith effort to locate the technological means to access data on media considered out of date or obsolete. If the technology cannot be located or no longer exists, the MBMG reserves the right to refuse the acceptance of outdated media.</li>
                        <li>Availability of technology to transfer the data to current digital storage media;</li>
                        <li>Cost feasibility of accessing and transferring data to current storage media—the nature and content of the data must be irreplaceable, unique, and contribute significantly to the collection to justify the cost for access and transference to current storage media.</li>
                        <li>Before the MBMG assesses and/or accepts private or public donations of materials for the collections, the <a href="/objects/Prospective_Donor_Letter.pdf" download><b>prospective</b></a> donor will supply a detailed and complete inventory of the prospective donation. The MBMG reserves the right to review the inventory and select those items it deems appropriate for acceptance (see guidelines above). If the prospective donor plans to use the donation as a tax deduction, the donor will be responsible for securing an <b>appraisal</b> of the donated items. The MBMG will not conduct appraisals of prospective collection materials.</li>
                    </ol>

            <h3>Collection Assessment Procedures</h3>
            <h4><i>Preliminary Appraisal/Donation Suitability</i></h4>
                    <ol>
                        <li>The Archives Manager, through prospective donor discussions and existing repository review, assesses each prospective donation for its suitability as part of the MBMG Archives repository using the <a href="/objects/Preliminary Collection Assessment Criteria.pdf" download><b>Preliminary Collection Assessment Worksheet</b></a>.</li>
                        <li>The Archives Manager will complete the assessment, summarizing key benefits and concerns with the prospective collection’s acceptance, and review the preliminary appraisal with the MBMG Director. The Director may authorize the collection’s acceptance, direct the Archives manager to conduct an onsite evaluation of the collection, or decline the collection donation.</li>
                    </ol>
            <h4><i>Onsite Collection Assessment</i></h4>
                <p>If directed by the MBMG Director, the Archives Program Manager will conduct an onsite collection assessment to determine if the collection is an acceptable and appropriate addition to the Archives.</p>
                <a href="/objects/Preliminary Collection Onsite Assessment.pdf" download><b>Preliminary Onsite Assessment</b></a><br><br>

            <h3>Acquisition Procedures</h3>
            <h4><i>Collection Acceptance and Accession</i></h4>
                    <p>The Mining Archives department accepts collections at the Bureau office or from the donor at the collection site. Accession is the process of recording the actual transfer of the collection’s physical materials, its ownership, and all legal rights pertaining to the collection from the donor to the MBMG.</p>
                    <p><i>Donor-Delivered Collections</i></p>
                        <ul>
                            <li>If the collection's donor packages and delivers the collection to the Mining Archives department, complete the appropriate MBMG Deed of Gift form, noting the type and number of containers in which the collection is stored.</li>
                            <li>The donor will provide a written collection inventory, sign the MBMG Deed of Gift form, and receive a copy of the signed <a href="objects/Deed_of_Gift.pdf" download><b>Deed of Gift</b></a> form.</li>
                            <li>MBMG Archives staff will complete the <a href="/objects/MT_Tech_Gift_in_Kind.pdf" download><b>Montana Tech Gift in Kind</b></a> forms and route the form and an <b>acknowledgement letter</b> to the MBMG Director for signature. The Archives manager will place a copy of the signed letter and all completed donation forms in a donor-specific file in the Mining Archives office.</li>
                        </ul>
                    <p><i>MBMG-Retrieved Collections</i></p>
                        <ul>
                            <li>When MBMG staff packages and retrieves the collection at the collection’s site, the donor must be present. <b><i>The donor must review the contents of each box or container of collection materials and initial each container before securing it in MBMG transport vehicles.</i></b></li>
                            <li>The donor will sign a completed two copies of the MBMG <a href="objects/Deed_of_Gift.pdf" download><b>Deed of Gift</b></a> form, noting the type and number of containers transported from the collection site to the MBMG Mining Archives department. The donor will retain one copy of the form and the MBMG will retain the second copy.</li>
                            <li>Archival staff will complete <a href="/objects/MT_Tech_Gift_in_Kind.pdf" download><b>Montana Tech Gift in Kind</b></a> forms and route the form and an <b>acknowledgement letter</b> to the MBMG Director for signature. The Archives manager will place a copy of the signed letter and all completed donation forms in a donor-specific file in the Mining Archives office.</li>
                        </ul>
            <h3>Donor Files</h3>
                    <p>The Archives Program Manager maintains alphabetical, donation-specific administration files containing a historical record about each donation. The files include:</p>
                        <ul>
                            <li>Copy of the completed and signed <a href="objects/Deed_of_Gift.pdf" download><b>Deed of Gift</b></a> form</li>
                            <li>A copy of the completed and signed <a href="/objects/MT_Tech_Gift_in_Kind.pdf" download><b>Montana Tech Gift in Kind</b></a> form</b></li>
                            <li>A detailed collection or donation inventory</li>
                            <li>An <b>acknowledgement letter</b> from the MBMG Director, thanking the donor</li>
                            <li>All internal memorandums relevant to the collection's acquisition</li>
                            <li>Correspondence (hard copy and/or printed pdfs of electronic communications) with donors</li>
                            <li>Correspondence with researchers using the collections</li>
                            <li>Donor contact information</li>
                        </ul>

            <h3>Deed of Gift Accession Number notes:</h3>
            <p>Each donation has a unique accession number. If the donation is a special collection, it will be formatted as:<br>
            Special Collection = SC<br>
            Creator's or donor's initials<br>
            8-digit collection receipt date<br>
            <u>Example: </u>The John W. Taber Collection accession number is: SCJWT08132015<br>
            SC (special collection)<br>
            JWT (John W. Taber's initials)<br>
            08132015</p>
            <p>For donations not categorized as a special collection, the Accession numbering process is the same, with the exception that the SC prefix is not used.</p><hr><br>
        </div></div>

        <div class="container">
            <h2 id="collections">Collections</h2>
            <p>The MBMG’s Archives and Data Preservation program maintains both physical and digital information repositories.  The original repository contained property files, maps, and selected publications.  Previous MBMG staff organized property files and maps by Montana county, historical mining district, and property name.  Publication order was by organization or author.  Staff did not know or adhere to the archival principles to keep all documents together from one creator (fonds) and provenance maintained all records according to their origin and not intermingle them with those of another provenance.<br><br>
            More recently, MBMG staff inventory, describe, and record donated collections in Microsoft Access relational databases by the creator (or collection donor). Staff create an Access relationship between each collection record to associated records in other database tables.  For example, a map contained in a collection may have several claims noted on it.  Staff creates a database relationship between the map’s unique identification number and that of each claim annotated on the map to its associate record in the Claims database.<br><br>
            The value of collection contents changes over time.  The emergence of new technologies supplants the need for physical copies of certain data.  Periodic collection reviews determine the ongoing value and public use of the collection.
            </p><hr><br>
        </div>

        <div class="container">
            <h2 id="labels">Labels</h2>
        <iframe src="objects/Labels for each instance.pdf" width="100%" height="1000px"></iframe>
        
        <iframe src="objects/MBMG PROPERTY FILE LABELING COLOR CODING.pdf" width="100%" height="1000px"></iframe>

        <iframe src="objects/MBMG_MAP_FOLDER_LABEL.pdf" width="100%" height="1000px"></iframe>
        </div><hr><br>


    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
    </body>
    </html>