<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}

</style>
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    <div class="container">
        {{ content }}
    </div>

    <main id="maincontent" role="main" class="flex-shrink-0">
        <div class="sidenav">
            <h2 class="text-white">Procedures</h2>
            <a href="/appraisal.html">Appraisal</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>
          </div>
          
          <div class="main">
            <h2>Sidenav Example</h2>
            <p>This sidenav is always shown.</p>
          </div>  
                <a class="btn btn-secondary btn-lg btn-block" href="#filenaming" role="button">File Naming Instructions</a>
                <a class="btn btn-secondary btn-lg btn-block" href="#pdfa" role="button">PDF/A Instructions</a>
                <a class="btn btn-secondary btn-lg btn-block dropdown-toggle text-white" type="button" id="dropdownMenurButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Procedures</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#mission">Mission</a>
                        <a class="dropdown-item" href="#appraisal">Appraisal and Acquisition</a>
                        <a class="dropdown-item" href="#collections">Collections</a>
                        <a class="dropdown-item" href="#labels">Labels</a>
                        <a class="dropdown-item" href="#students">Students</a>
                    </div>
        </div><hr><br>
        

        <div class="container">
            <h2 id="filenaming">File Naming Instructions</h2>
        <iframe src="objects/File Naming Instructions.pdf" width="100%" height="1000px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="pdfa">PDF/A Instructions</h2>
        <iframe src="objects/PDFA Guide.pdf" width="100%" height="1000px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="mission">Mission Statement</h2>
            <p>In 1919, the Montana Legislature created the Montana Bureau of Mines and Geology (MBMG or Bureau).  The Bureau’s mission is to collect, maintain, manage, and preserve information having enduring historic, research, and informational value, make the information available to the public, and dispose information whose enduring value has expired.<br><br>
            The Montana Bureau of Mines and Geology collects geologic and mineral, specimens, geologic, hydrologic, seismic, and mining-related historical photographs, reports, and analysis pertaining to the State of Montana.<br><br>
            MBMG created a data preservation program and Archives department that assesses, acquires, organizes, restores, and preserves historic mining, geologic, hydrogeologic, mineral, and seismic information pertaining to the state of Montana.  The MBMG Data Preservation Program makes this information available to the public, in both physical and electronic formats for education and research purposes.
            </p><hr><br>
        </div>

        <div class="container">
            <h2 id="collections">Collections</h2>
            <p>The MBMG’s Archives and Data Preservation program maintains both physical and digital information repositories.  The original repository contained property files, maps, and selected publications.  Previous MBMG staff organized property files and maps by Montana county, historical mining district, and property name.  Publication order was by organization or author.  Staff did not know or adhere to the archival principles to keep all documents together from one creator (fonds) and provenance maintained all records according to their origin and not intermingle them with those of another provenance.<br><br>
            More recently, MBMG staff inventory, describe, and record donated collections in Microsoft Access relational databases by the creator (or collection donor). Staff create an Access relationship between each collection record to associated records in other database tables.  For example, a map contained in a collection may have several claims noted on it.  Staff creates a database relationship between the map’s unique identification number and that of each claim annotated on the map to its associate record in the Claims database.<br><br>
            The value of collection contents changes over time.  The emergence of new technologies supplants the need for physical copies of certain data.  Periodic collection reviews determine the ongoing value and public use of the collection.
            </p><hr><br>
        </div>

        <div class="container">
            <h2 id="labels">Labels</h2>
        <iframe src="objects/Labels for each instance.pdf" width="100%" height="1000px"></iframe>
        
        <iframe src="objects/MBMG PROPERTY FILE LABELING COLOR CODING.pdf" width="100%" height="1000px"></iframe>

        <iframe src="objects/MBMG_MAP_FOLDER_LABEL.pdf" width="100%" height="1000px"></iframe>
        </div><hr><br>

        <div class="container">
            <h2 id="students">Students</h2>
            <iframe src="objects/Fillable.StudentEmploymentCertification.RevisedDecember2020 alex day spring.pdf" width="100%" height="1000px"></iframe>

            <iframe src="objects/Montana Tech Student Employment Certification MDaniel.pdf" width="100%" height="1000px"></iframe>

            <iframe src="objects/Request for Approval to Exceed 20 hours.pdf" width="100%" height="1000px"></iframe>

            <iframe src="objects/StudentEmploymentCertification.pdf" width="100%" height="1000px"></iframe>
        </div><hr><br>


    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
    </body>
    </html>