<!doctype html>
<html lang="en" class="h-100">
  <head prefix="og: http://ogp.me/ns#">
    {% include head/head.html %}

</style>
  </head>
  <body class="d-flex flex-column h-100">
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    {% include collection-banner.html %}
    {% include collection-nav.html %}
    <main id="maincontent" role="main" class="flex-shrink-0">
    <div class="container">
        {{ content }}
    </div>

    <span id="menubutton" class ="sticky-top pt-3" style="font-size:30px;cursor:pointer" onclick="openNav(); hidemenu()"><i class="material-icons" style="font-size:48px;color:black">menu</i></span>

    <div id="mySidenav" class="sidenav">
      <span id="menubutton" style="font-size:30px;cursor:pointer" onclick="closeNav(); showmenu()"><i class="material-icons" style="font-size:48px;color:white">close</i></span>
      
        <h2 class="text-white">Procedures</h2>
        <a href="/collections.html">Collections</a>
        <a href="/assessment.html">Assessment</a>
        <button class="dropdown-btn">Preservation 
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-container">
            <a href="/scanning.html">Scanning</a>
            <a href="/metadata.html">Metadata</a>
            <a href="/preservation.html">Preservation</a>
          </div>
        <a href="/labels.html">Labels</a>
        <a href="/students.html">Students</a>
        <a href="/forms.html">Forms</a>
        <a href="/references.html">References</a>
      </div>

  <div id="main">
    <h1 class="text-center">Students</h1><hr><br>
          <div class="container">
            <iframe src="objects/Data Preservation Assistant-student- position description.pdf" width="100%" height="1000px"></iframe>

            <iframe src="objects/Fillable.StudentEmploymentCertification.RevisedJune2021.pdf" width="100%" height="1000px"></iframe>

            <iframe src="objects/Request for Approval to Exceed 20 hours.pdf" width="100%" height="1000px"></iframe>

            <iframe src="objects/code of conduct.pdf" width="100%" height="800px"></iframe>
        </div><hr><br>

      </div>

      <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
        }

        function hidemenu() {
        document.getElementById("menubutton").style.visibility = "hidden";
        }

        function showmenu() {
        document.getElementById("menubutton").style.visibility = "visible"; 
        }

        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
        } else {
        dropdownContent.style.display = "block";
        }
        });
        }
        </script>

    </main>
    {% include footer.html %}
    {% include foot.html %}
    {% include scroll-to-top.html %}
    </body>
    </html>